/**
    Setup
**/

.content-2hZxGK.thin-31rlnD.scrollerBase-_bVAAt {
    padding-right: 36px !important;
}

[class^="socialLinks-"] + [class^="info-"] > span:first-child::before {
    content: "MaterialDesign " var(--version);
    position: relative;
    top: 0;
    display: block;
}

[class^="socialLinks-"] + [class^="info-"] > span:nth-last-child(1)::after {
    content: var(--skin-name) " Skin by " var(--skin-author);
    position: relative;
    top: 0;
    display: block;
}

.tabBarItem-30Te4-.selected-g-kMVV.themed-2-lozF {
    background: var(--brand-experiment-560) !important;
}

.tabBarItem-30Te4-.themed-2-lozF:hover {
    background: var(--brand-experiment-20a) !important;
}

.tabBarItem-30Te4- {
    margin-right: 20px;
}

.invitetracker-hub-inner,
svg.circleIcon-3489FI {
    color: var(--brand-experiment) !important;
}

.circleIconButton-1VxDrg.selected-2r1Hvo,
.invitetracker-hub:hover {
    background-color: var(--brand-experiment-20a) !important;
}

::placeholder,
body,
button,
input,
select,
textarea {
    font-family: var(--font-primary, "Roboto");
}

code {
    font-family: var(--font-code, "Source Code Pro");
}

.container-2cd8Mz {
    background-color: var(--background-primary) !important;
}

.autocomplete-3NRXG8,
.focused-2FU0YH {
    background-color: var(--12dp) !important;
}

.localizeBadge-24ZXps {
    background-color: transparent;
}

.categoryHeader-OpJ1Ly {
    background-color: transparent !important;
}

.autocomplete-3NRXG8 .selected-2Uns2B {
    background-color: var(--brand-experiment-20a);
}

.wrapper-22rqw6 {
    background-color: var(--04dp);
}

.container-2McqkF {
    background-color: var(--24dp) !important;
}

#app-mount .background-fkKrXt {
    background-color: var(--background-primary) !important;
}

.container-4HqGB3.background-3X6Uak {
    background-color: var(--04dp) !important;
}

.containerCard-2kwJKN,
.container-3HMTms {
    background-color: var(--04dp) !important;
    border: 2px solid var(--16dp);
    transition: all 0.2s ease;
}

.withTagAsButton-OsgQ9L,
.withTagless-10ooWt {
    min-width: 105px;
}

.containerCard-2kwJKN:hover,
.container-3HMTms:hover {
    background-color: var(--08dp) !important;
}

.keybindShortcut-3zF1P9 span {
    box-shadow: inset 0 -4px 0 var(--08dp);
}

.pageWrapper-2PwDoS {
    background-color: var(--background-secondary) !important;
}

.channelList-24jKfX {
    gap: 10px;
}

.unreadBar-elBRZx {
    border-radius: 4px;
    background-color: var(--brand-experiment);
    opacity: 1;
}

.preview-QJ3OG3 .avatar-2e8lTP {
    left: -53px;
}

.container-JMJRDf {
    margin-block: 8px;
    border-radius: 4px;
}

.unmask-profile {
    left: -35px !important;
    top: 25px !important;
}

.textarea-_59yqs:focus {
    background-color: var(--08dp);
}

.accountProfileCard-lbN7n- {
    background-color: var(--04dp);
}

.accountProfileCard-lbN7n- .background-3d_SjE {
    background-color: var(--08dp);
}

.accountProfileCard-lbN7n- .fieldList-in8WkP {
    background-color: var(--08dp);
}

.bodyInnerWrapper-2bQs1k {
    background-color: transparent !important;
}

/**
    Toasts
**/

.toast-q3Y4wI {
    background: var(--background-floating);
    padding: 14px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.0178571429em;
    color: hsla(0, 0%, 100%, 0.87);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.container-20TyK0 {
    background: var(--background-floating) !important;
    padding: 14px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.0178571429em;
    color: hsla(0, 0%, 100%, 0.87);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.container-20TyK0.elevationHigh-28Pty4 button.lookFilled-yCfaCM {
    background: var(--brand-experiment-560) !important;
}

.container-20TyK0 .message-3C6JQ1 {
    font-weight: 400;
}

/**
    Switches.
**/

.container-1QtPKm {
    border-radius: 50px;
    border: 3px solid transparent;
    box-sizing: content-box;
    transition: all 0.4s ease;
}

.container-1QtPKm:not(.checked-16gMAN) {
    background-color: var(--switch-unchecked-background) !important;
    border-color: var(--switch-unchecked-color);
}

.container-1QtPKm:not(.checked-16gMAN) svg > rect {
    fill: var(--switch-unchecked-color);
}

.container-1QtPKm.checked-16gMAN {
    background-color: var(--switch-checked-background) !important;
}

.container-1QtPKm.checked-16gMAN .slider-HJFN2i {
    left: 15px !important;
}

.slider-HJFN2i {
    margin: 4.5px;
    transition: left 0.2s ease;
    width: 20px;
    height: 12px;
    top: -1px;
}

.container-1QtPKm.checked-16gMAN .slider-HJFN2i > svg > path {
    fill: black !important;
}

.container-1QtPKm {
    width: 40px;
    height: 20px;
}

/**
    Layout 
**/

.title-31SJ6t {
    background: var(--04dp) !important;
}

.role-2TIOKu {
    background: var(--04dp);
    border-radius: 50px;
    padding: 8px 9px;
    transition: all 0.2s ease;
    overflow: hidden;
}

.layout-1qmrhw {
    border-radius: 50px !important;
    transition: all 0.2s ease;
    margin-block: 3px;
}

.wrapper-NhbLHG .content-1gYQeQ {
    border-radius: 50px;
    transition: all 0.2s ease;
    margin-block: 3px;
}

.panels-3wFtMD {
    border-radius: 4px;
    margin: 0 7px 7px 7px;
}

.platform-osx .base-2jDfDU {
    margin-top: 20px;
    border-radius: 4px 0 0 0;
}

/**
    Elevation 
**/

.containerCard-2kwJKN,
.container-3HMTms {
    box-shadow: var(--04dpShadow);
    overflow: visible;
}

.content-1jQy2l {
    box-shadow: var(--02dpShadow);
}

.groupStart-3Mlgv1.cozyMessage-1DWF9U .contents-2MsGLg,
.cozyMessage-1DWF9U:not(.groupStart-3Mlgv1) .contents-2MsGLg > .markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    box-shadow: var(--04dpShadow);
}

.expandedFolderBackground-1kSAf6,
.closedFolderIconWrapper-3tRb2d,
.wrapper-3kah-n {
    box-shadow: var(--04dpShadow);
}

.panels-3wFtMD,
.title-31SJ6t {
    box-shadow: var(--04dpShadow);
}

.selected-1-Z6gm .layout-1qmrhw {
    box-shadow: var(--08dpShadow);
    transition: all 0.2s ease;
}

.clickable-28SzVr:hover .layout-1qmrhw {
    box-shadow: var(--04dpShadow);
    transition: all 0.2s ease;
}

.selected-1-Z6gm .layout-1qmrhw {
    box-shadow: var(--08dpShadow);
    transition: all 0.2s ease;
}

.wrapper-NhbLHG:hover .content-1gYQeQ {
    box-shadow: var(--04dpShadow);
    transition: all 0.2s ease;
}

.interactive-iyXY_x {
    border-radius: 50px;
    transition: all 0.2s ease;
    margin-block: 3px;
}

.accountProfileCard-lbN7n- {
    box-shadow: var(--04dpShadow);
}

.accountProfileCard-lbN7n- .background-3d_SjE {
    box-shadow: var(--08dpShadow);
}

.item-1OdjEX.selected-g-kMVV,
.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1gYQeQ,
.interactive-iyXY_x.interactiveSelected-29CP8y.selected-3veCBZ {
    box-shadow: var(--08dpShadow) !important;
    transition: all 0.2s ease;
}

.interactive-1vLZ_I:focus-within,
.interactive-1vLZ_I:hover {
    background-color: var(--04dp);
    box-shadow: var(--04dpShadow) !important;
}

.top-K_jibn .themed-2-lozF.item-3XjbnG:hover,
.autocomplete-3NRXG8 {
    box-shadow: var(--12dpShadow);
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active,
.bd-button:not(.bd-view-button),
.channelTextArea-1FufC0,
button.lookFilled-yCfaCM {
    box-shadow: var(--24dpShadow);
    background: var(--24dp);
}

.container-2McqkF,
.menu-1QACrS,
.tooltip-14MtrL,
.userPopout-2j1gM4 {
    box-shadow: var(--24dpShadow);
    background: hsla(var(--skin-background-h, 0), calc(var(--saturation-factor, 1) * var(--skin-background-s, 0%)), calc(0.22% * var(--skin-background-l, 0)), calc(1% * var(--floating-background-opacity, 100)));
}

.container-2McqkF::after,
.menu-1QACrS::after,
.tooltip-14MtrL::after,
.userPopout-2j1gM4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(var(--floating-background-blur, 0px));
}

.submenuContainer-3EVTeH .submenuContainer-3EVTeH .layer-2aCOJ3 {
    left: 98% !important;
    transform: translateY(-25px);
}

.footer-3naVBw {
    background-color: transparent !important;
}

/** 
    Messages
**/

.message-2CShn3 {
    transition: all 0.1s ease-in !important;
}

.channelTextArea-1FufC0 {
    border-radius: 50px;
}

.scrollableContainer-15eg7h {
    border-radius: 26px;
    padding: 4px 6px;
}

.groupStart-3Mlgv1.cozyMessage-1DWF9U .contents-2MsGLg,
.cozyMessage-1DWF9U:not(.groupStart-3Mlgv1) .contents-2MsGLg > .markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background-color: var(--04dp);
    display: inline-block;
    max-width: 650px;
    margin: 0;
    padding: 7px 12px;
    padding-left: 12px;
    border-radius: 0 4px 4px 4px;
    position: relative;
    overflow: visible;
}

.contents-2MsGLg img.avatar-2e8lTP.clickable-31pE3P {
    left: -55px;
}

.avatarDecoration-34OC0G {
    left: -58px;
}

.groupStart-3Mlgv1.mentioned-Tre-dv .contents-2MsGLg,
.mentioned-Tre-dv:not(.groupStart-3Mlgv1) .contents-2MsGLg > .markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background-color: #615f45;
}

.groupStart-3Mlgv1.cozy-VmLDNB[data-is-author-self="true"] .contents-2MsGLg,
.cozy-VmLDNB:not(.groupStart-3Mlgv1)[data-is-author-self="true"] .contents-2MsGLg > .markup-eYLPri:not(:empty, .searchResultsWrap-5RVOkx *) {
    background-color: var(--brand-experiment-30a);
    color: #dde9f9;
    border-radius: 0 4px 4px 4px;
}

.cozy-VmLDNB[data-is-author-self="true"] {
    --text-link: #3693ff;
}

.embedVideo-2ixt5A .imageWrapper-oMkQl4,
.messageAttachment-CZp8Iv .imageWrapper-oMkQl4 {
    background-color: var(--04dp);
    max-width: 650px;
    margin: 0;
    padding: 7px 12px;
    border-radius: 0 4px 4px 4px;
}

[data-is-author-self="true"] .messageAttachment-CZp8Iv .imageWrapper-oMkQl4,
[data-is-author-self="true"] .embedVideo-2ixt5A .imageWrapper-oMkQl4 {
    background-color: var(--brand-experiment-30a);
}

/**
    Menus 
**/

.label-2gNW3x {
    padding-block: 6px;
}

#status-picker-switch-account {
    padding-block: 6px;
}

.menu-1QACrS {
    border-radius: 4px;
}

.scroller-1bVxF5 {
    padding: 8px 0;
}

.submenuPaddingContainer-_k62dJ {
    padding: 0 10px;
}

.submenuContainer-3EVTeH .layer-2aCOJ3 {
    transform: translateX(-5px);
}

.scroller-1bVxF5::-webkit-scrollbar {
    display: none;
}

.item-1OdjEX {
    border-radius: 0;
    padding: 0 20px 0 16px;
    margin: 0;
}

.separator-1So4YB {
    margin: 8px 0;
}

.iconContainer-1-SsTR:not(.submenuContainer-3EVTeH .iconContainer-1-SsTR) {
    order: -1;
    margin: 0;
    padding-right: 16px;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: var(--brand-experiment-30a);
}

.wrapper--nA0oy {
    margin-inline: 6px;
}

.wrapper--nA0oy .button-1zW0-r {
    background-color: var(--26dp);
    box-shadow: var(--24dpShadow);
    border-radius: 4px;
}

pre code {
    min-width: 400px !important;
}

/**
    Datepicker
**/

.calendarPicker-sDhzdi .react-datepicker {
    background-color: var(--background-floating);
}

.calendarPicker-sDhzdi .react-datepicker__header {
    background-color: #0000 !important;
}

.calendarPicker-sDhzdi .react-datepicker__day--disabled,
.calendarPicker-sDhzdi .react-datepicker__day--outside-month,
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: var(--08dp);
}

/**
    FAB
**/

@keyframes fabIn {
    from {
        opacity: 0;
        transform: translateX(50px) translateY(50px) scale(0.3);
    }

    to {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
}

.jumpToPresentBar-1cEnH0 button:nth-child(1) {
    display: none;
}

.jumpToPresentBar-1cEnH0 {
    display: contents;
}

.jumpToPresentBar-1cEnH0 button:nth-child(2) {
    animation: fabIn 0.3s ease-in;
    background-color: var(--brand-experiment-400);
    width: 56px;
    height: 56px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 16px;
    line-height: 0;
    font-size: 0;
    padding: 10px;
    transition: all 150ms ease;
    z-index: 99;
}

.jumpToPresentBar-1cEnH0 button:nth-child(2):hover {
    background-color: var(--brand-experiment-460);
}

.jumpToPresentBar-1cEnH0 button:nth-child(2):active {
    background-color: var(--brand-experiment-530);
}

.jumpToPresentBar-1cEnH0 button:nth-child(2) svg {
    width: 40px;
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    color: #21005d;
}

/**
    Tooltips
**/

.tooltipRight-2TSb42 {
    left: -12px !important;
}

.tooltipPointer-3L49xb {
    display: none;
}

.tooltip-14MtrL {
    border-radius: 4px;
}

/**
    Nitro Page
**/

#app-mount .perksModal-CLcR1c {
    background-image: none;
}

.tier-lFqDUs {
    border: 2px solid var(--16dp);
    border-radius: 20px;
    overflow: hidden;
}

.carouselItemSelected-1_QSK7 .tier-lFqDUs {
    border-color: var(--brand-experiment);
}

#app-mount .tierBody-3ju-rc {
    background: var(--04dp);
}

#app-mount .perk-19D_HN {
    background-color: var(--12dp);
}

.tierHeader-wgo0w_ {
    border-radius: 18px 18px 0 0;
    border-bottom: 2px solid var(--16dp);
}

#app-mount .tierHeaderUnlocked-1IvR2R {
    background-image: none;
    background: var(--04dp);
}

#app-mount .tierHeaderLocked-3ItHYn {
    background-image: none;
    background: var(--04dp);
    color: var(--text-normal);
}

#app-mount .tierLock-1uBqZ0 {
    color: var(--text-normal);
}

.carouselItemSelected-1_QSK7 .tierHeader-wgo0w_ {
    border-color: var(--brand-experiment);
    background-color: var(--brand-experiment-40a) !important;
}

#app-mount .children-3xh0VB:after {
    display: none;
}

/**
    Buttons
**/

.button-f2h6uQ:not(.toolbar-37BrJ5 button, .wrapper-3t3Yqv button) {
    padding: 6px 12px;
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.2s ease;
}

button.lookFilled-yCfaCM:not(.toolbar-37BrJ5 button, .focusLock-2tveLW button, .wrapper-3t3Yqv button) {
    background: var(--16dp) !important;
    padding: 6px 12px;
    border-radius: 50px;
    font-weight: 500;
}

button.lookFilled-yCfaCM.colorBrand-I6CyqQ:not(.footer-31IekZ .button-f2h6uQ) {
    background: var(--brand-experiment-560) !important;
}

button.lookFilled-yCfaCM.colorRed-rQXKgM:not(.footer-31IekZ .button-f2h6uQ) {
    background: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%) !important;
}

button.lookBlank-21BCro:hover,
button.lookFilled-yCfaCM:hover,
button.lookLink-15mFoz:hover,
button.lookOutlined-3yKVGo:hover {
    background: var(--brand-experiment-20a) !important;
}

button.colorRed-rQXKgM:not(.footer-31IekZ .button-f2h6uQ, .lookFilled-yCfaCM):hover {
    background: #ff00001c !important;
}

.addButton-2mlqCW {
    padding: 0 !important;
}

.contents-3ca1mk {
    background-image: none !important;
}

.colorGreen-3y-Z79 .contents-3ca1mk {
    color: #fff;
}

.buttons-uaqb-5 .button-f2h6uQ {
    padding: 3px !important;
}

.buttons-uaqb-5 .button-f2h6uQ.emojiButton-3FRTuj {
    padding-inline: 11px !important;
    margin-right: 0;
}

.attachWrapper-3slhXI button,
.emojiButton-3FRTuj {
    padding: 10px !important;
}

.attachButton-1ijpt9 {
    margin-left: -18px;
    margin-right: 5px;
}

.panels-3wFtMD .button-12Fmur {
    padding: 0 !important;
}

.tabBarItem-3VvT2z.item-3XjbnG.themed-2-lozF {
    height: 20px;
}

.userPopout-2j1gM4 button.lookFilled-yCfaCM:not(.toolbar-37BrJ5 button, .focusLock-2tveLW button, .wrapper-3t3Yqv button) {
    background: var(--26dp) !important;
}

/**
    Dialogs
**/

.root-g14mjS > div > div[style^="position: relative; overflow: hidden;"] {
    right: 36px;
}

#app-mount .content-2eQb8J {
    background-color: var(--background-primary);
}

.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: var(--brand-experiment-30a);
}

.root-g14mjS {
    border-radius: 28px;
    background-color: var(--background-primary) !important;
}

.root-CyPAbQ {
    width: fit-content;
}

.footer-31IekZ {
    background-color: transparent !important;
    border-color: transparent !important;
}

.root-g14mjS .footer-31IekZ .contents-3ca1mk {
    color: var(--brand-experiment-400);
}

.root-g14mjS .footer-31IekZ .colorRed-rQXKgM .contents-3ca1mk {
    color: var(--text-danger) !important;
}

.footer-31IekZ .button-f2h6uQ {
    background: transparent !important;
    box-shadow: none !important;
}

.root-g14mjS:not(.modal-3Crloo, .root-2uUafN) > div:not(.topSection-13QKHs) {
    padding-inline: 36px;
    border-radius: 20px 20px 0 0;
}

.nameTagWithCustomStatus-5c-v3- {
    padding-inline: 36px;
}

.customStatusActivity-WKWGD- {
    padding-inline: 52px;
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active,
.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
    border-bottom-color: transparent;
}

.root-g14mjS .header-1zd7se {
    padding-top: 30px;
    border-radius: 20px;
}

.root-g14mjS .content-2hZxGK {
    padding-bottom: 50px;
}

.perksModal-CLcR1c {
    background-color: var(--background-primary) !important;
}

.modal-3Hrb0S,
.modal-1Kmy_E {
    width: 530px;
}

.small-23Atuv:not(.root-2uUafN) {
    width: 530px;
}

/** 
    Navigation 
**/

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--brand-experiment-20a);
}

.item-3XjbnG {
    padding: 6px 12px !important;
    border-radius: 50px !important;
    font-weight: 500;
    transition: all 0.2s ease;
}

.item-3XjbnG.selected-g-kMVV {
    background: var(--16dp) !important;
}

.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1gYQeQ {
    transition: all 0.2s ease;
    background: var(--08dp);
}

.wrapper-NhbLHG:not(.modeSelected-3DmyhH):hover .content-1gYQeQ {
    background: var(--04dp);
    transition: all 0.2s ease;
}

.selected-1-Z6gm .layout-1qmrhw {
    background: var(--08dp);
    transition: all 0.2s ease;
}

.clickable-28SzVr:hover .layout-1qmrhw {
    background: var(--04dp);
    transition: all 0.2s ease;
}

.wrapper-NhbLHG::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 4px;
    border-radius: 5px;
    top: 50%;
    left: -6px;
    margin-top: -4px;
    background-color: var(--brand-experiment);
    transition: all 0.2s ease;
}

.wrapper-NhbLHG.modeSelected-3DmyhH::before,
.wrapper-NhbLHG.modeSelected-3DmyhH:hover::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 4px;
    border-radius: 5px;
    top: 50%;
    left: 0;
    margin-top: -7px;
    background-color: var(--brand-experiment);
    transition: all 0.2s ease;
}

.wrapper-NhbLHG:hover::before {
    left: 0;
    transition: all 0.2s ease;
    background-color: var(--brand-experiment) !important;
}

.unread-36eUEm {
    display: none;
}

.wrapper-NhbLHG.modeUnread-3Cxepe::before {
    left: 0;
    background-color: var(--interactive-active);
}

.item-2LIpTv {
    border-radius: 5px;
    width: 4px;
    margin-left: 0;
    background-color: var(--brand-experiment);
}

/**
    Icons
**/

/* Channels */
.content-2a4AW9 .iconContainer-21RCa3 svg {
    width: 15px;
    height: 15px;
}

.iconContainer-21RCa3
    path[d="M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z"] {
    d: path("M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM9 11H7V9h2v2zm4 0h-2V9h2v2zm4 0h-2V9h2v2z") !important;
}

.iconContainer-21RCa3
    path[d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"],
.iconContainer-21RCa3 path[d="M17 11V7C17 4.243 14.756 2 12 2C9.242 2 7 4.243 7 7V11C5.897 11 5 11.896 5 13V20C5 21.103 5.897 22 7 22H17C18.103 22 19 21.103 19 20V13C19 11.896 18.103 11 17 11ZM12 18C11.172 18 10.5 17.328 10.5 16.5C10.5 15.672 11.172 15 12 15C12.828 15 13.5 15.672 13.5 16.5C13.5 17.328 12.828 18 12 18ZM15 11H9V7C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7V11Z"],
.iconContainer-21RCa3
    path[d="M14 8C14 7.44772 13.5523 7 13 7H9.76001L10.3657 3.58738C10.4201 3.28107 10.1845 3 9.87344 3H8.88907C8.64664 3 8.43914 3.17391 8.39677 3.41262L7.76001 7H4.18011C3.93722 7 3.72946 7.17456 3.68759 7.41381L3.51259 8.41381C3.45905 8.71977 3.69449 9 4.00511 9H7.41001L6.35001 15H2.77011C2.52722 15 2.31946 15.1746 2.27759 15.4138L2.10259 16.4138C2.04905 16.7198 2.28449 17 2.59511 17H6.00001L5.39427 20.4126C5.3399 20.7189 5.57547 21 5.88657 21H6.87094C7.11337 21 7.32088 20.8261 7.36325 20.5874L8.00001 17H14L13.3943 20.4126C13.3399 20.7189 13.5755 21 13.8866 21H14.8709C15.1134 21 15.3209 20.8261 15.3632 20.5874L16 17H19.5799C19.8228 17 20.0306 16.8254 20.0724 16.5862L20.2474 15.5862C20.301 15.2802 20.0655 15 19.7549 15H16.35L16.6758 13.1558C16.7823 12.5529 16.3186 12 15.7063 12C15.2286 12 14.8199 12.3429 14.7368 12.8133L14.3504 15H8.35045L9.41045 9H13C13.5523 9 14 8.55228 14 8Z"] {
    d: path("M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z") !important;
}

.iconContainer-21RCa3
    path[d="M14 8C14 7.44772 13.5523 7 13 7H9.76001L10.3657 3.58738C10.4201 3.28107 10.1845 3 9.87344 3H8.88907C8.64664 3 8.43914 3.17391 8.39677 3.41262L7.76001 7H4.18011C3.93722 7 3.72946 7.17456 3.68759 7.41381L3.51259 8.41381C3.45905 8.71977 3.69449 9 4.00511 9H7.41001L6.35001 15H2.77011C2.52722 15 2.31946 15.1746 2.27759 15.4138L2.10259 16.4138C2.04905 16.7198 2.28449 17 2.59511 17H6.00001L5.39427 20.4126C5.3399 20.7189 5.57547 21 5.88657 21H6.87094C7.11337 21 7.32088 20.8261 7.36325 20.5874L8.00001 17H14L13.3943 20.4126C13.3399 20.7189 13.5755 21 13.8866 21H14.8709C15.1134 21 15.3209 20.8261 15.3632 20.5874L16 17H19.5799C19.8228 17 20.0306 16.8254 20.0724 16.5862L20.2474 15.5862C20.301 15.2802 20.0655 15 19.7549 15H16.35L16.6758 13.1558C16.7823 12.5529 16.3186 12 15.7063 12C15.2286 12 14.8199 12.3429 14.7368 12.8133L14.3504 15H8.35045L9.41045 9H13C13.5523 9 14 8.55228 14 8Z"]
    + path,
.iconContainer-21RCa3
    path[d="M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z"]
    + path {
    display: none;
}

.iconContainer-21RCa3
    path[d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"] {
    d: path("M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z") !important;
}

.iconContainer-21RCa3
    path[d="M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z"] {
    d: path(
        "M20.5,16.5c-0.83,0-1.5-0.67-1.5-1.5v-2.5c0-0.83,0.67-1.5,1.5-1.5s1.5,0.67,1.5,1.5V15C22,15.83,21.33,16.5,20.5,16.5z M20,20h1c0,0,0-1.54,0-1.54c1.69-0.24,3-1.7,3-3.46h-1c0,1.38-1.12,2.5-2.5,2.5S18,16.38,18,15h-1c0,1.76,1.31,3.22,3,3.46 C20,18.46,20,20,20,20z M9,12c-2.21,0-4-1.79-4-4c0-2.21,1.79-4,4-4c0.47,0,0.92,0.08,1.34,0.23C9.5,5.26,9,6.57,9,8 c0,1.43,0.5,2.74,1.34,3.77C9.92,11.92,9.47,12,9,12z M7.11,13.13C5.79,14.05,5,15.57,5,17.22V20H1v-2.78 c0-1.12,0.61-2.15,1.61-2.66C3.85,13.92,5.37,13.37,7.11,13.13z M11,8c0-2.21,1.79-4,4-4s4,1.79,4,4c0,2.21-1.79,4-4,4 S11,10.21,11,8z M18.32,20c-1.67-0.81-2.82-2.52-2.82-4.5c0-0.89,0.23-1.73,0.64-2.45C15.77,13.02,15.39,13,15,13 c-2.53,0-4.71,0.7-6.39,1.56C7.61,15.07,7,16.1,7,17.22V20L18.32,20z"
    ) !important;
}

.iconContainer-21RCa3 path[d="M19.1 4V5.12659L4.85 8.26447V18.1176C4.85 18.5496 5.1464 18.9252 5.5701 19.0315L9.3701 19.9727C9.4461 19.9906 9.524 20 9.6 20C9.89545 20 10.1776 19.8635 10.36 19.6235L12.7065 16.5242L19.1 17.9304V19.0588H21V4H19.1ZM9.2181 17.9944L6.75 17.3826V15.2113L10.6706 16.0753L9.2181 17.9944Z"] {
    d: path("M18 11v2h4v-2h-4zm-2 6.61c.96.71 2.21 1.65 3.2 2.39.4-.53.8-1.07 1.2-1.6-.99-.74-2.24-1.68-3.2-2.4-.4.54-.8 1.08-1.2 1.61zM20.4 5.6c-.4-.53-.8-1.07-1.2-1.6-.99.74-2.24 1.68-3.2 2.4.4.53.8 1.07 1.2 1.6.96-.72 2.21-1.65 3.2-2.4zM4 9c-1.1 0-2 .9-2 2v2c0 1.1.9 2 2 2h1v4h2v-4h1l5 3V6L8 9H4zm11.5 3c0-1.33-.58-2.53-1.5-3.35v6.69c.92-.81 1.5-2.01 1.5-3.34z") !important;
}

.iconContainer-21RCa3 path[d="M33 34.5833V7.49998H35V36.6666H9C6.791 36.6666 5 34.801 5 32.5V7.49998C5 5.19894 6.791 3.33331 9 3.33331H31V30.4166H9C7.8955 30.4166 7 31.3485 7 32.5C7 33.6515 7.8955 34.5833 9 34.5833H33ZM23.9718 9.99998L15.8889 17.9915L12.7086 14.8441L10 17.5058L15.8885 23.3333L26.6667 12.6669L23.9718 9.99998Z"] {
    d: path("M 33.6 8 c -1.776 -0.56 -3.728 -0.8 -5.6 -0.8 c -3.12 0 -6.48 0.64 -8.8 2.4 c -2.32 -1.76 -5.68 -2.4 -8.8 -2.4 S 3.92 7.84 1.6 9.6 v 23.44 c 0 0.4 0.4 0.8 0.8 0.8 c 0.16 0 0.24 -0.08 0.4 -0.08 C 4.96 32.72 8.08 32 10.4 32 c 3.12 0 6.48 0.64 8.8 2.4 c 2.16 -1.36 6.08 -2.4 8.8 -2.4 c 2.64 0 5.36 0.48 7.6 1.68 c 0.16 0.08 0.24 0.08 0.4 0.08 c 0.4 0 0.8 -0.4 0.8 -0.8 V 9.6 C 35.84 8.88 34.8 8.4 33.6 8 z M 33.6 29.6 c -1.76 -0.56 -3.68 -0.8 -5.6 -0.8 c -2.72 0 -6.64 1.04 -8.8 2.4 V 12.8 c 2.16 -1.36 6.08 -2.4 8.8 -2.4 c 1.92 0 3.84 0.24 5.6 0.8 V 29.6 z") !important;
}

.iconContainer-21RCa3[aria-label="Text (Age-Restricted)"] path {
    d: path("M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z") !important;
}

[data-list-item-id*="upcoming-events"] .iconContainer-21RCa3 path {
    d: path("M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z") !important;
}

/* UserArea */
.container-YkUktl .button-f2h6uQ[aria-label="Mute"] path {
    d: path("M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z") !important;
}

.container-YkUktl .button-f2h6uQ[aria-label="Mute"][aria-checked="true"] path {
    d: path("M19 11h-1.7c0 .74-.16 1.43-.43 2.05l1.23 1.23c.56-.98.9-2.09.9-3.28zm-4.02.17c0-.06.02-.11.02-.17V5c0-1.66-1.34-3-3-3S9 3.34 9 5v.18l5.98 5.99zM4.27 3L3 4.27l6.01 6.01V11c0 1.66 1.33 3 2.99 3 .22 0 .44-.03.65-.08l1.66 1.66c-.71.33-1.5.52-2.31.52-2.76 0-5.3-2.1-5.3-5.1H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c.91-.13 1.77-.45 2.54-.9L19.73 21 21 19.73 4.27 3z") !important;
}

.container-YkUktl .button-f2h6uQ[aria-label="Deafen"] path {
    d: path("M12 1c-4.97 0-9 4.03-9 9v7c0 1.66 1.34 3 3 3h3v-8H5v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h4v1h-7v2h6c1.66 0 3-1.34 3-3V10c0-4.97-4.03-9-9-9z") !important;
}

.container-YkUktl .button-f2h6uQ[aria-label="Deafen"][aria-checked="true"] path {
    d: path("M12 4c3.87 0 7 3.13 7 7v2h-2.92L21 17.92V11c0-4.97-4.03-9-9-9-1.95 0-3.76.62-5.23 1.68l1.44 1.44C9.3 4.41 10.6 4 12 4zM2.27 1.72L1 3l3.33 3.32C3.49 7.68 3 9.29 3 11v7c0 1.66 1.34 3 3 3h3v-8H5v-2c0-1.17.29-2.26.79-3.22L15 17v4h3c.3 0 .59-.06.86-.14L21 23l1.27-1.27-20-20.01z") !important;
}

.container-YkUktl .button-f2h6uQ[aria-label="User Settings"] path {
    d: path(
        "M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z"
    ) !important;
}

.container-YkUktl .button-f2h6uQ[aria-label="Disable Game Activity"] path {
    d: path("M21 6H3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-10 7H8v3H6v-3H3v-2h3V8h2v3h3v2zm4.5 2c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4-3c-.83 0-1.5-.67-1.5-1.5S18.67 9 19.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z") !important;
}

.container-YkUktl .button-f2h6uQ[aria-label="Enable Game Activity"] path {
    d: path("M21.19,21.19L2.81,2.81L1.39,4.22L3.3,6.13C2.54,6.41,2,7.15,2,8v8c0,1.1,0.9,2,2,2h11.17l4.61,4.61L21.19,21.19z M9,13v2H7 v-2H5v-2h2V9.83L10.17,13H9z M20.7,17.87C21.46,17.59,22,16.85,22,16V8c0-1.1-0.9-2-2-2H8.83L20.7,17.87z M17.5,9 c0.83,0,1.5,0.67,1.5,1.5S18.33,12,17.5,12S16,11.33,16,10.5S16.67,9,17.5,9z") !important;
}

.container-YkUktl .button-f2h6uQ[aria-label="Enable Game Activity"] svg {
    transform: scaleX(1.1);
}

.container-YkUktl .strikethrough-2Kl6HF {
    color: var(--interactive-normal);
}

.container-YkUktl .container-YkUktl .button-f2h6uQ[aria-label="Mute"][aria-checked="true"]:hover .strikethrough-2Kl6HF {
    color: var(--interactive-hover);
}

/* Context */

[d="M5 2C3.34315 2 2 3.34315 2 5V19C2 20.6569 3.34315 22 5 22H19C20.6569 22 22 20.6569 22 19V5C22 3.34315 20.6569 2 19 2H5ZM8.79741 7.72V16H6.74541V7.72H8.79741ZM13.2097 7.72C16.0897 7.72 17.5897 9.388 17.5897 11.848C17.5897 14.308 16.0537 16 13.2577 16H10.3537V7.72H13.2097ZM13.1497 14.404C14.6137 14.404 15.5257 13.636 15.5257 11.86C15.5257 10.12 14.5537 9.316 13.1497 9.316H12.4057V14.404H13.1497Z"] {
    d: path(
        "M17.81 4.47c-.08 0-.16-.02-.23-.06C15.66 3.42 14 3 12.01 3c-1.98 0-3.86.47-5.57 1.41-.24.13-.54.04-.68-.2-.13-.24-.04-.55.2-.68C7.82 2.52 9.86 2 12.01 2c2.13 0 3.99.47 6.03 1.52.25.13.34.43.21.67-.09.18-.26.28-.44.28zM3.5 9.72c-.1 0-.2-.03-.29-.09-.23-.16-.28-.47-.12-.7.99-1.4 2.25-2.5 3.75-3.27C9.98 4.04 14 4.03 17.15 5.65c1.5.77 2.76 1.86 3.75 3.25.16.22.11.54-.12.7-.23.16-.54.11-.7-.12-.9-1.26-2.04-2.25-3.39-2.94-2.87-1.47-6.54-1.47-9.4.01-1.36.7-2.5 1.7-3.4 2.96-.08.14-.23.21-.39.21zm6.25 12.07c-.13 0-.26-.05-.35-.15-.87-.87-1.34-1.43-2.01-2.64-.69-1.23-1.05-2.73-1.05-4.34 0-2.97 2.54-5.39 5.66-5.39s5.66 2.42 5.66 5.39c0 .28-.22.5-.5.5s-.5-.22-.5-.5c0-2.42-2.09-4.39-4.66-4.39-2.57 0-4.66 1.97-4.66 4.39 0 1.44.32 2.77.93 3.85.64 1.15 1.08 1.64 1.85 2.42.19.2.19.51 0 .71-.11.1-.24.15-.37.15zm7.17-1.85c-1.19 0-2.24-.3-3.1-.89-1.49-1.01-2.38-2.65-2.38-4.39 0-.28.22-.5.5-.5s.5.22.5.5c0 1.41.72 2.74 1.94 3.56.71.48 1.54.71 2.54.71.24 0 .64-.03 1.04-.1.27-.05.53.13.58.41.05.27-.13.53-.41.58-.57.11-1.07.12-1.21.12zM14.91 22c-.04 0-.09-.01-.13-.02-1.59-.44-2.63-1.03-3.72-2.1-1.4-1.39-2.17-3.24-2.17-5.22 0-1.62 1.38-2.94 3.08-2.94 1.7 0 3.08 1.32 3.08 2.94 0 1.07.93 1.94 2.08 1.94s2.08-.87 2.08-1.94c0-3.77-3.25-6.83-7.25-6.83-2.84 0-5.44 1.58-6.61 4.03-.39.81-.59 1.76-.59 2.8 0 .78.07 2.01.67 3.61.1.26-.03.55-.29.64-.26.1-.55-.04-.64-.29-.49-1.31-.73-2.61-.73-3.96 0-1.2.23-2.29.68-3.24 1.33-2.79 4.28-4.6 7.51-4.6 4.55 0 8.25 3.51 8.25 7.83 0 1.62-1.38 2.94-3.08 2.94s-3.08-1.32-3.08-2.94c0-1.07-.93-1.94-2.08-1.94s-2.08.87-2.08 1.94c0 1.71.66 3.31 1.87 4.51.95.94 1.86 1.46 3.27 1.85.27.07.42.35.35.61-.05.23-.26.38-.47.38z"
    ) !important;
}

[d="M10.59 13.41c.41.39.41 1.03 0 1.42-.39.39-1.03.39-1.42 0a5.003 5.003 0 0 1 0-7.07l3.54-3.54a5.003 5.003 0 0 1 7.07 0 5.003 5.003 0 0 1 0 7.07l-1.49 1.49c.01-.82-.12-1.64-.4-2.42l.47-.48a2.982 2.982 0 0 0 0-4.24 2.982 2.982 0 0 0-4.24 0l-3.53 3.53a2.982 2.982 0 0 0 0 4.24zm2.82-4.24c.39-.39 1.03-.39 1.42 0a5.003 5.003 0 0 1 0 7.07l-3.54 3.54a5.003 5.003 0 0 1-7.07 0 5.003 5.003 0 0 1 0-7.07l1.49-1.49c-.01.82.12 1.64.4 2.43l-.47.47a2.982 2.982 0 0 0 0 4.24 2.982 2.982 0 0 0 4.24 0l3.53-3.53a2.982 2.982 0 0 0 0-4.24.973.973 0 0 1 0-1.42z"] {
    d: path("M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z") !important;
}

[d="M2.99805 4.8C2.99805 3.8055 3.80445 3 4.79805 3H19.198C20.1925 3 20.998 3.8055 20.998 4.8V15.6C20.998 16.5936 20.1925 17.4 19.198 17.4H11.098L7.49805 21V17.4H4.79805C3.80445 17.4 2.99805 16.5936 2.99805 15.6V4.8ZM11.5737 5.16264C11.7336 5.00375 11.9739 4.95652 12.183 5.04208C12.3921 5.12708 12.5279 5.33098 12.5279 5.55487V14.444C12.5279 14.669 12.3921 14.8718 12.183 14.9579C11.9739 15.0435 11.7336 14.9963 11.5737 14.8374L9.1739 12.2217H7.4969C7.18945 12.2217 6.9379 11.9717 6.9379 11.6662V8.33273C6.9379 8.02772 7.18945 7.77716 7.4969 7.77716H9.1739L11.5737 5.16264ZM13.6459 7.22159V6.11044C15.8037 6.11044 17.5589 7.85549 17.5589 9.99944C17.5589 12.1445 15.8037 13.8884 13.6459 13.8884V12.7773C15.1871 12.7773 16.4409 11.5312 16.4409 9.99944C16.4409 8.46829 15.1871 7.22159 13.6459 7.22159ZM15.3229 9.99944C15.3229 9.08108 14.5705 8.33273 13.6459 8.33273V9.44387C13.9539 9.44387 14.2049 9.69332 14.2049 9.99944C14.2049 10.3056 13.9539 10.555 13.6459 10.555V11.6662C14.5705 11.6662 15.3229 10.9189 15.3229 9.99944Z"] {
    d: path("M 9 15 c -2.67 0 -8 1.34 -8 4 v 2 h 15.96 v -2 c 0 -2.66 -5.33 -4 -8 -4 z m 7.76 -9.64 l -1.68 1.69 c 0.84 1.18 0.84 2.71 0 3.89 l 1.68 1.69 c 2.02 -2.02 2.02 -5.07 0 -7.27 z M 20.07 2 l -1.63 1.63 c 2.77 3.02 2.77 7.56 0 10.74 L 20.07 16 c 3.9 -3.89 3.91 -9.95 0 -14 z M 9 13 C 11 13 13 11 13 9 C 13 7 11 5 9 5 C 7 5 5 7 5 9 C 5 11 7 13 9 13") !important;
}

[d="M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z"] {
    d: path("M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z") !important;
}
[d="M14 3H20C21 3 22.0001 4 22.0001 5V19.0003C22.0001 20 21 21 20 21H14C13 21 6 13 6 13H2V11H6C6 11 13 3 14 3Z"] {
    d: path("M22,8.98V18c0,1.1-0.9,2-2,2H4c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2h10.1C14.04,4.32,14,4.66,14,5 c0,1.48,0.65,2.79,1.67,3.71L12,11L4,6v2l8,5l5.3-3.32C17.84,9.88,18.4,10,19,10C20.13,10,21.16,9.61,22,8.98z M16,5 c0,1.66,1.34,3,3,3s3-1.34,3-3s-1.34-3-3-3S16,3.34,16,5z") !important;
}

/* Chatbox */
[d="M12 2.00098C6.486 2.00098 2 6.48698 2 12.001C2 17.515 6.486 22.001 12 22.001C17.514 22.001 22 17.515 22 12.001C22 6.48698 17.514 2.00098 12 2.00098ZM17 13.001H13V17.001H11V13.001H7V11.001H11V7.00098H13V11.001H17V13.001Z"] {
    d: path("M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z") !important;
}
