@font-face {
    font-family: "Mona Sans";
    src: url("https://raw.githubusercontent.com/github/mona-sans/v1.0/dist/MonaSans.woff2") format("woff2 supports variations"),
        url("https://raw.githubusercontent.com/github/mona-sans/v1.0/dist/MonaSans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
