/**
    Cards
**/
.velocity-card {
    background: var(--04dp) !important;
    border: 2px solid var(--16dp);
    border-radius: 20px !important;
}

.velocity-card-footer {
    flex-direction: row-reverse;
}

.velocity-card .velocity-card-header-wrapper {
    background: transparent;
    border-bottom: none;
}

.velocity-card#MaterialDesign {
    border-color: var(--brand-experiment);
}
