/* Ultra for BetterDiscord */

@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Ultra/Ultra.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Ultra/Modules/Clients/BetterDiscord.css");

/* Quick Fixes */
