/**
* @name nightround
* @author TheCommieAxolotl#6898
* @description night. round. simple.
* @version 1.1.0
* @authorId 538487970408300544
* @source https://github.com/TheCommieAxolotl/BetterDiscord-Stuff/blob/main/nightround/nightround.theme.css
*/

@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");

:root{
    --brand-experiment: #868D9F;
    --dark-primary:   #16181D;
    --dark-secondary:      #16181D;
    --dark-secondary-alt:       #1D1F25;
    --dark-bright:    #1D1F25;
    --roundmoled-background:   #1D1F25;
    --popout-activeborders: #1f1f1f;
    --warning: #8c2525;
}

/* Badges */
#app-mount [data-user-id="753142102736502885"] .badgeList-1R1WgZ::after,
#app-mount [data-user-id="753142102736502885"] .profileBadges-ohc0Vu::after,
#app-mount [data-user-id="753142102736502885"] .badges-XRnWAp::after {
  content: "";
  width: 22px;
  height: 22px;
  background: url(https://cdn.discordapp.com/attachments/886895257176924170/892684287403495434/Screen_Shot_2021-09-29_at_6.08.35_pm.png) center / 100% 100%;
}

#app-mount [data-user-id="538487970408300544"] .badgeList-1R1WgZ::after,
#app-mount [data-user-id="538487970408300544"] .profileBadges-ohc0Vu::before,
#app-mount [data-user-id="538487970408300544"] .badges-XRnWAp::after{
  content: "";
  position: relative;
  right: 0px;
  top: 0px;
  width: 22px;
  height: 22px;
  background: url(https://cdn.discordapp.com/attachments/886895099626274836/892615067936378890/Untitled_Artwork_3.png) center / 100% 100%;
}

/**
CHAT CSS
*/

/* Pin message */
.message-2qRu38{
    background-color: var(--dark-secondary-alt) !important;
    border-radius: 15px;
    border:solid var(--popout-activeborders);
}

/* thread popout on channel name hover */
.popout-APcvZm{
    background-color: var(--dark-bright);
    border-radius: 12px;
    border:solid var(--popout-activeborders);
}
/* invite to channel */
.lookOutlined-3sRXeN.colorGreen-29iAKY{
    background-color:var(--brand-experiment);
    border-radius:13px;
    color:rgb(14, 14, 14);
    font-weight:bold;
    border:none;
}

.modal-1k91nT{
  width:140%;
  height:150%;
}


.inviteRow-2L02ae:hover{
    border-radius:15px;

    margin-right:6px;
    transform:scale(1.03);
    transition: transform 250ms;
}

/* @everyone and @here warning */
.theme-dark .contentWarningPopout-n5JsIs{
    background-color:var(--dark-primary);
    border-radius:15px;
    border:solid var(--popout-activeborders);
}

#user-context-call:hover,
#user-context-call.focused-3afm-j,
#user-context-disable-video:hover,
#user-context-disable-video.focused-3afm-j
{
    background: var(--warning);
    color:black;
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

/* nsfw chat warning buttons */

.actionRed-gYn8D3{
    border-radius:10px;
}

.actionRed-gYn8D3:hover{
    box-shadow: rgba(255, 44, 44, 0.3) 0px 5px 15px;
    transition:250ms;
}

/* Mentions in chat*/
.wrapper-3WhCwL{
    border-radius:25px;
    padding:0px 5px 0px 5px;
}

/* View code files / chat */
.textContainer-C0szpm, .footer-2yA7Ep, .modalTextContainer-ITvzbi{
    border-radius:10px;
    background-color:var(--dark-bright);
}

.footer-2yA7Ep{
    margin-top:5px;
}

/* Bold urls on hover */
.markup-2BOw-j a:hover{
    font-weight:bold;
    transition:250ms;
}


/* Attachments in chat */

.attachment-33OFj0, .theme-dark .wrapperAudio-1jDe0Q{
    border-radius: 15px;
    background-color:var(--dark-bright);
    width:150%;
}
.attachment-33OFj0:hover, .theme-dark .wrapperAudio-1jDe0Q:hover{
    background-color:var(--dark-secondary);
    transition: 250ms;
}

.audioControls-2HsaU6{
    border-radius: 25px;
}

.filenameLinkWrapper-1-14c5, .metadata-3WGS0M, .metadataName-14STf-{
    font-size:18px;
    text-align: center;
}

.filenameLinkWrapper-1-14c5:hover{
    font-weight:bold;
    transition: font-weight 250ms;
}


/* chat embeds */

.embedFull-2tM8--{
    background-color:var(--dark-secondary-alt);
    border-left: 4px solid var(--brand-experiment);
}

.embedFooterText-28V_Wb{
    font-size: 0.85rem;
    line-height: 1rem;
    font-weight: 500;
}

.embedThumbnail-2Y84-K
{
    border-radius:13px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

/* Emoji picker big and small */

.contentWrapper-SvZHNd
{
    background-color:var(--dark-secondary);
    border-radius: 15px;
    border: solid var(--popout-activeborders);
}

.unicodeShortcut-15J8Ck, .wrapper-1-Fsb8, .input-1Rv96N, .emojiPicker-3PwZFl
{
        background-color:var(--dark-secondary);
}

.list-donH_Z
{
    background-color:var(--dark-secondary);
    border: solid var(--dark-primary);
}


/* Send image modal chat */

.theme-dark .uploadModal-2ifh8j, .theme-dark .footer-3mqk7D{
	background-color:var(--dark-primary);
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j{
	width: 40% !important;
	height: 40% !important;
	margin-left: 150px !important;
	border: solid var(--popout-activeborders);
}

/* more upload modal things */
.uploadModal-2ifh8j, .uploadModal-2ifh8j .footer-3mqk7D{
    border-radius:15px;
}

.theme-dark .footer-3mqk7D{
        box-shadow: none;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K.expandable-3khGbD .description-2ug5H_{
position: relative;
margin-left: 50%;
transform: translate(-50%);
}

.theme-dark .checkbox-1ix_J3{
    background-color:#1a1a1a;
    border-radius:25px;
}

.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC .checkboxWrapper-SkhIWG{
    background-color:var(--dark-bright);
    margin-right:140px;
    padding:7px;
    border-radius:25px;
}

.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC .checkboxWrapper-SkhIWG:hover{
    background-color:var(--dark-secondary);
    transition: 250ms ease-in-out;
}

.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6{
    background-color:#af2626;
    margin-right:10px;
    border-radius:15px;
}
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6:hover{
box-shadow: rgba(255, 44, 44, .3) 0px 5px 15px;
    transition: box-shadow 250ms;
}


/* Code blocks in chat */
.markup-2BOw-j code{
    border-radius:10px;
    background-color:var(--dark-secondary-alt);
}


/* You're viewing older messages */
.jumpToPresentBar-G1R9s6{
    background-color: var(--brand-experiment);
    border-radius:25px;
    margin-bottom:10px;
}


/* Inbox */

.container-enaOkj, .channelHeader-3Gd2xq
{
    border-radius:15px;
    background-color:var(--dark-secondary);

}

.container-enaOkj, .tutorial-3w5I9h
{
	border: solid var(--popout-activeborders);
}

.tutorial-3w5I9h, .header-ykumBX
{
    background-color:var(--dark-primary);
}

.messageContainer-gbhlwo{
    margin-top:5px;
}

/* Pins */

.messagesPopoutWrap-1MQ1bW
{
    background-color:var(--dark-secondary-alt);
    border-radius: 15px;
    border: solid var(--popout-activeborders);
}

/* invites in chat */
.wrapper-35wsBm
{
    background-color:var(--dark-secondary-alt);
    border: solid var(--popout-activeborders);
    border-radius:15px;
}

.lookFilled-1Gx00P.colorGreen-29iAKY
{
        background-color:var(--brand-experiment);
	box-shadow: rgba(44, 139, 255, .23) 0px 5px 15px;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover
{
    filter:brightness(80%);
    transform: scale(1.035);
    transition: 250ms ease-in-out;
}

/* amoledify message search popout */
.theme-dark .container-3ayLPN{
    border-radius:15px;
    background-color:var(--dark-primary);
    border: solid var(--popout-activeborders);
}

.searchHeader-2XoQg7{
    background-color: var(--dark-secondary-alt);
}

.theme-dark .option-96V44q:after{
        background: linear-gradient(90deg,rgba(21, 21, 21, 0),#000 80%);
}

.searchResultsWrap-3-pOjs{
    border-radius:20px;
    background-color:var(--dark-primary);
    margin-right: 10px;
    margin-left: 10px;
}

.channelName-1JRO3C{
    background:var(--dark-secondary);
    border-radius:7px;
}

/* Chat @ and emoji autocomplete */
.theme-dark .autocomplete-1vrmpx
{
    background-color:var(--dark-secondary);
    border-radius:15px;
    border: solid var(--popout-activeborders);
}

.theme-dark .selected-1Tbx07
{
        background-color:var(--background-secondary-alt);
        transform: scale(1.015);
        transition: 250ms ease-in-out;
}

/*  follow this channel modal */
.wrapper-39oAo3{
    background-color: var(--dark-secondary-alt);
    border: solid var(--popout-activeborders);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover
{
    background-color:var(--brand-experiment);
}

.clickable-25tGDB .header-2V-4Sw:hover, .selected-31Nl7x .header-2V-4Sw{
    background-color: #0f10106b;
}

/**
HOME CSS
*/

/* home page and DMs stuff */

.theme-dark .container-1D34oG
{
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right: 10px;
}

/* Home colors */
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover{
    background-color:var(--brand-experiment);
}


:root .peopleColumn-29fq28, .privateChannels-1nO12o, .scroller-1JbKMe{
    background-color: var(--dark-primary);
}

:root .searchBar-6Kv8R2 .searchBarComponent-32dTOx{
    margin-top:5px;
    border-radius: 25px;
}

:root .theme-dark .container-1D34oG, .container-1a3EgQ, .applicationStore-1pNvnv{
    border-radius: 15px;
    margin-right: 10px;
    margin-top:10px;
    margin-bottom:10px;
}

/* friends now playing home */

.wrapper-3D2qGf, .theme-dark .separator-XqIyoz, .theme-dark .inset-3sAvek{
    background-color:var(--dark-secondary-alt);
}

.section-2gLsgF{
    border-radius:13px;
}

.wrapper-3D2qGf:hover, .peopleListItem-2nzedh:hover{
        transform: scale(1.025);
        transition: 250ms ease-in-out;
}

/**
SETTINGS CSS
*/

/* Server template */
.descriptionBox-1EKQKL{
    background-color:var(--dark-secondary-alt);
}

.descriptionBox-1EKQKL:hover{
    background-color:var(--dark-bright);
    transition: 250ms;
}

.inputMaxLength-1vRluy .inputDefault-_djjkz, .inputWrapper-31_8H8 .inputDefault-_djjkz{
    background-color: var(--dark-bright);
    border-radius:10px;
}

/* Connections */
.connectionOptionsWrapper-3KIj1Z{
        background-color:var(--dark-bright);
        border-radius:10px;
        margin-top:10px;
}
.connection-1fbD7X{
    background:transparent;
}
.connectionHeader-2MDqhu{
    background:var(--dark-secondary);
    border-radius:10px;
}

.connectionHeader-2MDqhu:hover{
    background: var(--dark-bright);
    transition:background .25s;
}

/* Server boost modal */

.ctaBar-2UsjF2{
    background-color:var(--dark-secondary-alt);
    border-radius:15px;
}

/* nitro boost modal */
.tierHeader---JJFb{
    border-radius: 10px;
}

.theme-dark .perk-2WeBWW{
    border-radius:15px;
    background:var(--dark-bright);
}

.theme-dark .tierBody-16Chc9{
    border-radius:15px;
    margin-top:10px;
    background:var(--dark-bright);
}

.theme-dark .tierBody-16Chc9:hover{
    transform:scale(1.05);
    margin-top:15px;
    transition:250ms;
}

.theme-dark .tierHeaderLocked-1s2JJz{
    border-radius:15px;
    background-color:var(--dark-primary);
    box-shadow: rgb(101, 102, 103) 0px 0px 2px;
}

.theme-dark .tierHeaderLocked-1s2JJz:hover{
    background-color:#FF73FA;
    color:#151414;
    font-weight:bold;
    transform:scale(1.02);
    box-shadow: #ff73fa7a 0px 5px 15px;
    transition:250ms;
}

.theme-dark .tierLock-3CSxSX{
    color:var(--roundmoled-background);
}

.theme-dark .perk-2WeBWW:hover{
    background:var(--dark-primary);
    border:solid var(--brand-experiment);
    transition:background, border 250ms;
}

/* Nitro */
.detailsBlock-FoDTGA{
    background-color:var(--dark-bright);
    border-radius:15px;
}
.banner-3Kac2g{
    border-radius:15px;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6{
    background-color:var(--brand-experiment);
    border-radius:12px;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover{
    box-shadow: rgba(44, 139, 255, .3) 0px 5px 15px;
    transition:250ms;
}

.detailsBlock-FoDTGA:hover{
    background-color:var(--dark-primary);
    border:solid var(--brand-experiment);
    transition:all 250ms;
}

/* Voice & video */
.lookOutlined-3sRXeN.colorRed-1TFJan{
    background-color:#9f1c1c;
    color:white;
}

.lookOutlined-3sRXeN.colorRed-1TFJan:hover{
    box-shadow: rgba(192, 12, 12, .3) 0px 5px 15px;
    transition:250ms;
}

.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g, .theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC{
    background-color:var(--dark-bright);
    border-radius:15px;
}

    /* red button */
    .lookFilled-1Gx00P.colorRed-1TFJan:hover{
        box-shadow: rgba(192, 12, 12, .3) 0px 5px 15px;
        transition:250ms;
    }

/* Settings > Appareance preview */
.preview-2nSL_2
{
    background-color: var(--dark-primary);
}

/* Settings userpopout preview fix */

.profileBannerPreview-3_l0Wd{
    border: solid var(--popout-activeborders);
}

/* Discord's changelog modal */

.theme-dark .root-1gCeng, .theme-dark .footer-2gL1pp
{
    background-color: var(--dark-secondary);
    border-radius:max(0px, min(16px, ((100vw - 4px) - 100%) * 9999)) / 16px;
}

/* hypesquad tab settings */
.membershipDialogHeading-3y8iIr, .membershipDialogHouseDescription-1GaVtg, .membershipDialogHouseName-ezTTJ9, .membershipDialogSwitchHouses-1K8L1U, .membershipDialogSwitchHousesAction-2a3eDg:hover{
    filter:invert(100%);
}

/* settings */
:root .sidebarRegionScroller-3MXcoP
{
    background-color: var(--dark-primary);
}

.accountProfileCard-1XCH88{
    background-color: var(--dark-secondary);
    border-radius:15px;
}

.fieldList-21DyL8, .background-1QDuV2
{
        background-color: var(--dark-secondary-alt);
}

.avatar-1uQSZT{
    border-color: var(--dark-secondary);
    background-color: var(--dark-secondary);
}

.background-1QDuV2
{
    border: solid var(--popout-activeborders);
}

.item-26Dhrx
{
    background-color: var(--dark-secondary);
    border-radius:10px;
}

.item-26Dhrx:hover
{
        transform: scale(1.015);
        transition: 250ms ease-in-out;
}

.radioIconForeground-XwlXQN{
    color: var(--brand-experiment);
}

/* Server boost tab settings */
.guildHeader-3nh5RK, .guildSubscriptionSlots-JPXXvN, .cardWrapper-2Min21
{
    background-color:var(--dark-secondary);
}

.guild-Hq0WWA
{
    border-radius:13px;
}

.card-3AyPWq:hover
{
    background-color:var(--dark-secondary-alt);
}

/* Server settings */
/* Overview server settings */

/* needs to be fixed*/
.marginBottom40-2vIwTv{
    border-radius:13px;
    padding:15px;
    background-color:var(--dark-secondary);
    margin-bottom:20px !important;
}


.css-3vaxre-menu{
    border-radius:12px;
    background-color:var(--dark-secondary);
}

.lighten-2aYaaU{
    opacity:0.7;
}

.css-rzbxvl-option:hover{
    border-radius:10px;
    background-color:var(--dark-primary);

}

.css-gvi9bl-control, .css-17e1tep-control{
    background-color:var(--dark-secondary-alt);
    border-radius:10px;

}
.css-gvi9bl-control:hover{
    border-radius:10px;
    transform:scale(1.025);
    background-color:var(--background-tertiary);
    transition: .25s ease;
}

.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6{
    background-color:var(--brand-experiment);
    border:none;
    border-radius:12px;

}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover{
    box-shadow: rgba(44, 139, 255, .3) 0px 5px 15px;
    transition: .3s;
}

/* Stickers server settings */
.tierHeaderContent-3t3DoO, .theme-dark .tierHeaderUnlocked-3lTDnP, .theme-dark .tierHeaderLocked-3S508x, .wrapper-18yWki{
    border-radius:15px;
    background-color:var(--dark-secondary);
}

.wrapper-18yWki:hover{
    border:solid var(--brand-experiment);
    transition:250ms ease-in-out;
}

.lookFilled-1Gx00P.colorBrand-3pXr91{
    border-radius:12px;

}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover{
box-shadow: rgba(44, 139, 255, .3) 0px 5px 15px;
}

.theme-dark .tierBody-3aUxuc{
    border-radius:15px;
    margin-top:10px;
    background-color:var(--dark-bright);
}

/* Integrations server settings */
.theme-dark .card-o7rAq-{
    border-radius:15px;
}
.theme-dark .card-o7rAq-:hover{
    background-color:var(--dark-secondary);
}

/* Roles server settings */

.roleRow-30TwGe:hover:not(.roleRowDisableHover-1HiqqT){
    border-radius:12px;
}

.theme-dark .colorPickerCustom-2CWBn2{
    background-color:var(--dark-primary);
    width:100%;
}

.previewContainer-1KQDJS{
    border-radius:12px;
}


.container-_phMUq{
    border-radius:15px;
    background-color:var(--dark-secondary-alt);
    border:solid var(--popout-activeborders);
}

.container-_phMUq:hover{
 background-color:var(--brand-experiment) !important;
 transition: .25s ease;

}


/**
BASE CSS
*/

/* Status picker (updated 07/11/21)*/

.layer-v9HyYc{
    border-radius:15px;
    margin-bottom:5px;
}

.status-1fhblQ{
    text-align:center;
    font-size:15px;
}


.mask-1qbNWk{
transform:scale(1.8) !important;

}

#status-picker .description-2L932D{
    display:none;
}

#status-picker-online:hover,
#status-picker-online.focused-3afm-j{
    background-color:#1f95ca;
    border-radius:10px;
    transition:250ms;
    box-shadow: rgba(44, 164, 255, .17) 0px 5px 15px;
}

#status-picker-dnd:hover,
#status-picker-dnd.focused-3afm-j{
    background-color:#ca1f27;
    border-radius:10px;
    transition:250ms;
    box-shadow: rgba(255, 44, 44, .17) 0px 5px 15px;
}

#status-picker-idle:hover,
#status-picker-idle.focused-3afm-j{
    background-color:#c1c12e;
    border-radius:10px;
    transition:250ms;
    box-shadow: rgba(227, 255, 44, .17) 0px 5px 15px;
}

#status-picker-invisible:hover,
#status-picker-invisible.focused-3afm-j{
    background-color:#161616;
    border-radius:10px;
    transition:250ms;
    box-shadow: rgba(91, 91, 91, .17) 0px 5px 15px;
}

#status-picker-custom-status:hover,
#status-picker-custom-status.focused-3afm-j{
    background-color:#2247a2;
    border-radius:10px;
    transition:250ms;
    box-shadow: rgba(44, 79, 255, .17) 0px 5px 15px;
}


/* Set custom status modal */
.lookFilled-22uAsw.select-2fjwPw, .popout-VcNcHB{
    background-color:var(--dark-primary);
    border-radius:15px;
}

.popout-VcNcHB{
    border-color:transparent;
}

.option-3KoAJB[aria-selected=true]{
    background-color:var(--dark-secondary-alt);
    margin-top:5px;
    margin-left:10px;
    margin-right:10px;
    border-radius:13px;
}

.button-F9qN4n{
	background-color:var(--dark-secondary-alt);
	border-radius:17px;
}

.barButtonBase-2uLO1z
{
margin-top:3px;
}

/* Channel background change */
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n{
        background: linear-gradient(90deg, #1D1F25, #1D1F25 100%);
        transform:scale(1.02);
        border-radius:8px;
        margin-left:4px;
        margin-right:3px;
}

/* Old bg change
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n{
        background: linear-gradient(90deg, rgb(52, 70, 119) 0%, rgba(60, 105, 172, 0.753) 54%, rgba(0, 191, 255, 0.212) 100%);
        transform:scale(1.02);
        border-radius:8px;
        margin-left:4px;
        margin-right:3px;
}
**/

.modeSelected-346R90 [d="M14 8C14 7.44772 13.5523 7 13 7H9.76001L10.3657 3.58738C10.4201 3.28107 10.1845 3 9.87344 3H8.88907C8.64664 3 8.43914 3.17391 8.39677 3.41262L7.76001 7H4.18011C3.93722 7 3.72946 7.17456 3.68759 7.41381L3.51259 8.41381C3.45905 8.71977 3.69449 9 4.00511 9H7.41001L6.35001 15H2.77011C2.52722 15 2.31946 15.1746 2.27759 15.4138L2.10259 16.4138C2.04905 16.7198 2.28449 17 2.59511 17H6.00001L5.39427 20.4126C5.3399 20.7189 5.57547 21 5.88657 21H6.87094C7.11337 21 7.32088 20.8261 7.36325 20.5874L8.00001 17H14L13.3943 20.4126C13.3399 20.7189 13.5755 21 13.8866 21H14.8709C15.1134 21 15.3209 20.8261 15.3632 20.5874L16 17H19.5799C19.8228 17 20.0306 16.8254 20.0724 16.5862L20.2474 15.5862C20.301 15.2802 20.0655 15 19.7549 15H16.35L16.6758 13.1558C16.7823 12.5529 16.3186 12 15.7063 12C15.2286 12 14.8199 12.3429 14.7368 12.8133L14.3504 15H8.35045L9.41045 9H13C13.5523 9 14 8.55228 14 8Z"], .modeSelected-346R90 [d="M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z"]{
        fill:rgb(255, 255, 255) !important;
}

/* Channel list and server banner */
.bannerImage-3KhIJ6, .animatedContainer-1NSq4T{
    border-radius:15px;
    background-color:rgba(0, 0, 0, 0);
}

/* Unread pill */
.unread-2lAfLh{
    background-color:var(--brand-experiment);
    box-shadow: rgb(44, 139, 255) 0px 5px 15px;
    height: 10px;
    width: 6px;
}

/* Context menu */
.menu-3sdvDG
{
	border-radius:13px;
	background-color:var(--dark-bright);
}

/* context menu */
#message-actions-edit:hover,
#message-actions-edit.focused-3afm-j,
#message-edit:hover,
#message-edit.focused-3afm-j,
#message-actions-pin:hover,
#message-actions-pin.focused-3afm-j,
#message-pin:hover,
#message-pin.focused-3afm-j,
#message-add-reaction:hover,
#message-add-reaction.focused-3afm-j,
#user-context-user-profile:hover,
#user-context-user-profile.focused-3afm-j,
#user-context-mention:hover,
#user-context-mention.focused-3afm-j,
#user-context-message-user:hover,
#user-context-message-user.focused-3afm-j,
#user-context-add-friend:hover,
#user-context-add-friend.focused-3afm-j,
#channel-context-hide-voice-names:hover,
#channel-context-hide-voice-names.focused-3afm-j,
#channel-context-mute-channel:hover,
#channel-context-mute-channel.focused-3afm-j,
#message-copy-image:hover,
#message-copy-image.focused-3afm-j,
#message-save-image:hover,
#message-save-image.focused-3afm-j
{
    background:#5a79df;
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;

}

#message-actions-reply:hover,
#message-actions-reply.focused-3afm-j,
#message-reply:hover,
#message-reply.focused-3afm-j,
#message-actions-mark-unread:hover,
#message-actions-mark-unread.focused-3afm-j,
#message-mark-unread:hover,
#message-mark-unread.focused-3afm-j,
#channel-context-edit-channel:hover,
#channel-context-edit-channel.focused-3afm-j,
#channel-context-clone-channel:hover,
#channel-context-clone-channel.focused-3afm-j,
#channel-context-create-voice-channel:hover,
#channel-context-create-voice-channel.focused-3afm-j,
#channel-context-create-text-channel:hover,
#channel-context-create-text-channel.focused-3afm-j,
#user-context-close-dm:hover,
#user-context-close-dm.focused-3afm-j{
    background:#77ce45;
    color:black;
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

#message-actions-copy-link:hover,
#message-actions-copy-link.focused-3afm-j,
#message-copy-link:hover,
#message-copy-link.focused-3afm-j,
#message-actions-tts:hover,
#message-actions-tts.focused-3afm-j,
#message-tts:hover,
#message-tts.focused-3afm-j,
#user-context-change-nickname:hover,
#user-context-change-nickname.focused-3afm-j{
    background:#27436d;
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

#message-actions-copy-id:hover,
#message-actions-copy-id.focused-3afm-j,
#message-copy-id:hover,
#message-copy-id.focused-3afm-j,
#message-actions-delete:hover,
#message-actions-delete.focused-3afm-j,
#message-delete:hover,
#message-delete.focused-3afm-j,
#user-context-voice-mute:hover,
#user-context-voice-mute.focused-3afm-j,
#user-context-voice-deafen:hover,
#user-context-voice-deafen.focused-3afm-j,
#user-context-voice-disconnect:hover,
#user-context-voice-disconnect.focused-3afm-j,
#user-context-kick:hover,
#user-context-kick.focused-3afm-j,
#user-context-ban:hover,
#user-context-ban.focused-3afm-j,
#user-context-block:hover,
#user-context-block.focused-3afm-j,
#user-context-remove-friend:hover,
#user-context-remove-friend.focused-3afm-j,
#channel-context-delete-channel:hover,
#channel-context-delete-channel.focused-3afm-j,
#user-context-mute-channel:hover,
#user-context-mute-channel.focused-3afm-j{
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    background:#c71a1c;
    transition:150ms;
}

#user-context-invite-to-server:hover,
#user-context-invite-to-server.focused-3afm-j,
#channel-context-invite-people:hover,
#channel-context-invite-people.focused-3afm-j{
    background:#5a8fdf;
    border-radius:7px;
    color:rgb(19, 19, 19);
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

#user-context-invite-to-listen:hover,
#user-context-invite-to-listen.focused-3afm-j,
#channel-context-invite-to-listen:hover,
#channel-context-invite-to-listen.focused-3afm-j{
    background:#1DB954;
    border-radius:7px;
    color:rgb(19, 19, 19);
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

#user-context-roles:hover,
#user-context-roles.focused-3afm-j,
#user-context-voice-move:hover,
#user-context-voice-move.focused-3afm-j,
#user-context-devmode-copy-id:hover,
#user-context-devmode-copy-id.focused-3afm-j,
#channel-context-devmode-copy-id:hover,
#channel-context-devmode-copy-id.focused-3afm-j,
#channel-context-channel-notifications:hover,
#channel-context-channel-notifications.focused-3afm-j,
#message-devmode-copy-id:hover,
#message-devmode-copy-id.focused-3afm-j,
#message-copy-native-link:hover,
#message-copy-native-link.focused-3afm-j,
#message-open-native-link:hover,
#message-open-native-link.focused-3afm-j,
#user-context-mute:hover,
#user-context-mute.focused-3afm-j,
#user-context-deafen:hover,
#user-context-deafen.focused-3afm-j{
    background:#27436d;
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

#user-context-note{
    display: none;
    }

/* Context menu colored buttons (guild) on hover */
#guild-header-popout-invite-people:hover,
#guild-header-popout-invite-people.focused-3afm-j,
#guild-context-invite-people:hover,
#guild-context-invite-people.focused-3afm-j{
    background:#b75adf;
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

#guild-header-popout-insights:hover,
#guild-header-popout-insights.focused-3afm-j,
#guild-header-popout-settings:hover,
#guild-header-popout-settings.focused-3afm-j,
#guild-context-guild-settings:hover,
#guild-context-guild-settings.focused-3afm-j{
    background:#42c6ba;
    color:black;
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

#guild-header-popout-create-channel:hover,
#guild-header-popout-create-channel.focused-3afm-j,
#guild-context-create-channel:hover,
#guild-context-create-channel.focused-3afm-j,
#guild-header-popout-create-category:hover,
#guild-header-popout-create-category.focused-3afm-j,
#guild-context-create-category:hover,
#guild-context-create-category.focused-3afm-j
{
    background:#ffe455;
    color:black;
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

#guild-header-popout-notifications:hover,
#guild-header-popout-notifications.focused-3afm-j,
#guild-context-notifications:hover,
#guild-context-notifications.focused-3afm-j,
#guild-context-privacy:hover,
#guild-context-privacy.focused-3afm-j,
#guild-header-popout-privacy:hover,
#guild-header-popout-privacy.focused-3afm-j,
#guild-context-mark-guild-read:hover,
#guild-context-mark-guild-read.focused-3afm-j{
    background:#5a79df;
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

#guild-header-popout-hide-muted-channels:hover,
#guild-header-popout-hide-muted-channels.focused-3afm-j,
#guild-context-change-nickname:hover,
#guild-context-change-nickname.focused-3afm-j,
#guild-header-popout-change-nickname:hover,
#guild-header-popout-change-nickname.focused-3afm-j,
#guild-context-hide-muted-channels:hover,
#guild-context-hide-muted-channels.focused-3afm-j,
#guild-context-mute-guild:hover,
#guild-context-mute-guild.focused-3afm-j,
#guild-context-unmute-guild:hover,
#guild-context-unmute-guild.focused-3afm-j{
    background:var(--roundmoled-background);
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

#guild-header-popout-premium-subscribe:hover,
#guild-header-popout-premium-subscribe.focused-3afm-j{
    background-image: linear-gradient(90deg ,#f25a5d,           #f14e76 77%,#f04a7f);
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    transition:150ms;
}

#guild-header-popout-leave:hover,
#guild-header-popout-leave.focused-3afm-j,
#guild-context-leave-guild:hover,
#guild-context-leave-guild.focused-3afm-j,
#guild-context-devmode-copy-id:hover,
#guild-context-devmode-copy-id.focused-3afm-j{
    border-radius:7px;
    transform:scale(1.02);
    margin-right:2px;
    font-size:15px;
    background:#c71a1c;
    transition:150ms;
}


/* Quickswitcher */

.quickswitcher-3JagVE,.scroller-zPkAnE{
    background-color:var(--dark-primary);
    border-radius:15px;
}


.input-2VB9rf{
    background-color:var(--dark-secondary);
    border-radius:15px;
    bottom:40px;
    box-shadow: rgba(44, 139, 255, .21) 0px 5px 15px;
    border:solid var(--brand-experiment);
}

.scroller-zPkAnE{
    bottom:20px;

}

.resultFocused-3aIoYe{
    margin-left:10px;
    margin-right:10px;
    border-radius:12px;
    transform: scale(1.01);
    transition: 250ms ease-in-out;
}

/* make some stuff rounded (chat related)) */
.grid-1nZz7S, .embed-IeVjo6, .embedImage-2W1cML, .imageWrapper-2p5ogY, .theme-dark .invite-18yqGF{
  border-radius: 10px;
}

/* background color*/
:root .bg-h5JY_x, .base-3dtUhz
{
    background-color: var(--roundmoled-background);
}


/* Userpopout spotify button*/

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV{
    background-color:#1DB954;
    border-radius:10px;
    box-shadow: rgba(68, 255, 44, .17) 0px 5px 15px;
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
    background-color:rgb(36, 124, 68);
}

/* Userpopout notes */

.textarea-2r0oV8:focus{
    background-color:var(--dark-secondary);
    border: solid var(--brand-experiment);
}

/* Big userpopout update*/
.connectedAccount-2Jb-Z0{
    background-color:var(--dark-bright);
    border-radius:20px;
}

.connectedAccount-2Jb-Z0:hover{
    background-color:var(--dark-primary);
    transition: 250ms;
}

.connectedAccountName-E1KzaT:hover{
    font-weight:bold;
    font-size:110%;
    transition: 0.2s ease;
}

[d="m16 7.6c0 .79-1.28 1.38-1.52 2.09s.44 2 0 2.59-1.84.35-2.46.8-.79 1.84-1.54 2.09-1.67-.8-2.47-.8-1.75 1-2.47.8-.92-1.64-1.54-2.09-2-.18-2.46-.8.23-1.84 0-2.59-1.54-1.3-1.54-2.09 1.28-1.38 1.52-2.09-.44-2 0-2.59 1.85-.35 2.48-.8.78-1.84 1.53-2.12 1.67.83 2.47.83 1.75-1 2.47-.8.91 1.64 1.53 2.09 2 .18 2.46.8-.23 1.84 0 2.59 1.54 1.3 1.54 2.09z"]{
    fill:var(--brand-experiment) !important;
}

.connectedAccountOpenIcon-E5wGF4{
    opacity:0;
    background-color:var(--dark-primary);
    border:solid var(--popout-activeborders);
    border-radius:15px;
    padding:5px;
    color:#000;
}
.connectedAccount-2Jb-Z0:hover .connectedAccountOpenIcon-E5wGF4{
    opacity:1;
    background-color:var(--brand-experiment);
    transition:250ms;
}

.lookFilled-1Gx00P.colorGreen-29iAKY{
    border-radius:13px;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover{
    background-color:var(--brand-experiment);
    box-shadow: rgba(44, 139, 255, .47) 0px 5px 15px;
}

.note-367eZJ textarea{
    background:var(--dark-secondary);
    border-radius:7px;
}

.labelContainer-1BLJti{
    border-radius:10px;
}

.tabBarItem-3dfX8P{
    background-color:var(--dark-bright);
    border-radius:15px;
    padding:2.5%;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px !Important;
}

.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active{
border-bottom-color: var(--popout-activeborders);
}

.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active{
    font-size:110%;
    transition:.2s;
    border:solid var(--popout-activeborders);
}

.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover{
    border-bottom-color:var(--popout-activeborders);
    background:var(--dark-secondary);
    border:solid var(--popout-activeborders);
    transition:background 250ms;
}

.customStatusText-2opeSw{
    text-align:left;
    background-color:var(--dark-secondary);
    margin-right:20px;
    margin-left:10px;
    border-radius:10px;
    padding:10px;
    font-size:105%;
}

/* MUTUAL SERVERS & friends */
.listScroller-3GmIYj{
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;
    display:flex;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color:var(--dark-primary);
    padding-bottom: 15px;
}

.listRow-1iDGel{
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
    align-items: center !important;
    border-radius: 15px !important;
    margin-left:20px !important;
    margin-top: 20px !important;
    margin-bottom:5px !important;
    margin-right:5px;
    padding: 10px 20px 10px 10px !important;
    width: 240px !important;
    background-color:var(--dark-secondary-alt);
}

.listAvatar-1BbvHX, .listRowContent-i8Bizk{
    margin-left:15%;
}

.listAvatar-1BbvHX{
    transform:scale(1.12);
   box-shadow: rgba(0, 0, 0, .21) 0px 7px 29px 0px;
}

.listRow-1iDGel:hover{
    background-color:var(--dark-primary);
   box-shadow:rgb(21, 21, 21) 0px 0px 0px 2px;
    transition:.05s;
}

/* Activity centered fix for biguserpopout*/


        .body-r6_QPy .activityProfile-2bJRaP.userProfileActivity-Bnt1p_.newProfileActivityStyles{
         left: 50%;
         top: 10%;
         width: 100%;
         transform: translate(-50%,-10%);
    }


        .body-r6_QPy .button-2IFFQ4.button-38aScr.lookFilled-1Gx00P.colorGrey-2DXtkV.buttonSize-AQY2mE.fullWidth-1orjjo.grow-q77ONN,
        .body-r6_QPy .disabledButtonWrapper-3wH6-b.buttonSize-AQY2mE.grow-q77ONN.fullWidth-1orjjo,
        .body-r6_QPy .disabledButtonOverlay-2DA5FI,
        .body-r6_QPy .button-2IFFQ4.button-38aScr lookFilled-1Gx00P colorGrey-2DXtkV.buttonSize-AQY2mE.fullWidth-1orjjo.grow-q77ONN
    {
        left:0%;
        top:65%;
        transform: scale(.915);
    }


/* guild scroller stuff */
:root .guilds-1SWlCJ
{
    margin-right: 10px;
    margin-left: 7px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 18px;
}

/* Small userpopout change */
.headerTop-3vNv-a{
    padding-bottom:10px !Important;
    padding-top:55px !important;

}

.headerTopWithCustomStatus-1DHAjX{
    padding-bottom:12px !important;
}

.setIdentityLink-1t8Ahd{
    display:none;
}

/* Active chat from DMS/Member list border on hover or active */

.selected-aXhQR6 .layout-2DM8Md, .clickable-1JJAn8:hover .layout-2DM8Md{
    border-radius:12px;
}


:root .scroller-1Bvpku
{
    background-color: var(--dark-secondary-alt);
    margin-top:12px;
}

/* chat margins so they don't touch eachother*/
:root .chat-3bRxxu, .sidebar-2K8pFh
{
    margin-right: 10px;
    margin-top:10px;
    margin-bottom:10px;
}

/* AMOLED-ify join/create server modal */

.theme-light .root-1gCeng
{
    border-radius:25px;
    background-color: var(--dark-primary);
    overflow:hidden;
}
.base-1x0h_U
{
    color: #fff;
}
.container-UC8Ug1
{
    background-color:#1F1F1F;
}

.container-UC8Ug1:hover
{
    transform: scale(1.025);
    border: solid var(--brand-experiment);
    transition: 250ms ease-in-out;
}

.input-cIJ7To
{
    color:#dcddde;
}

.username-1A8OIy, .title-29uC1r, .mainContent-u_9PKf, .activityText-yGKsKm, .messageContent-2qWWxC, .repliedTextPreview-2NBljf, .roleColor-rz2vM0, .name-1jkAdW
{
    color: #868D9F;
}

.contents-18-Yxp, .hoverRoll-YK53gQ, .buttonContainer-28fw2U
{
    color: #868D9F;
}

.attachButtonPlus-jWVFah
{
    fill: #868D9F;
}

.button-1ZiXG9
{
  position: relative;
  top: -3px;
}

.title-eS5yk3
{
    color: #FF54F1FF;
}

.content-1LAB8Z .input-cIJ7To, .input--jS-j2{
    border-radius:7px;
    background-color:var(--roundmoled-background);
}


.colorHeaderSecondary-3Sp3Ft, .colorStandard-2KCXvj, .lookBlank-3eh9lL
{
    color: #b9bbbe;
}

.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV
{
    background-color:var(--brand-experiment);
    border-radius: 7px;
}

.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV:hover
{
    transform: scale(1.025);
    transition: 250ms ease-in-out;
}

.theme-light .lookLink-9FtZy-.colorPrimary-3b3xI6{
    width:20%;
    color:#fff;
}

.theme-light .footer-2gL1pp
{
   	background-color: var(--dark-secondary);
	box-shadow:none !Important;
}

.sampleLink-2NLvZg{
    	color:#e0dede;
	font-size:16px;
}

.header-3msK0M, .header-1TKi98
{
    	width:90%;
    	height:5%;
	overflow: auto scroll;
}

.header-3msK0M::-webkit-scrollbar, .header-1TKi98::-webkit-scrollbar{
    display: none;
}

/* AMOLED-ify download app modal */
.mobileContainer-1x7CLQ, .desktopContainer-spQem0
{
    background-color:var(--dark-secondary);
    border: solid var(--popout-activeborders);
}

/* AMOLED-ify discover section */
.theme-dark .pageWrapper-1PgVDX{
    border-radius: 20px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right: 10px;
    background-color: var(--dark-primary);
}

/* member list background color*/
:root .members-1998pB, .members-1998pB>div
{
    background-color: var(--dark-primary);
}

/* server channel list */
:root .container-3w7J-x, .sidebar-2K8pFh
{
    background-color: var(--dark-secondary);
}

/* rounded corners in channel list and chat-member list */
:root .sidebar-2K8pFh.hasNotice-1XRy4h, .platform-win .sidebar-2K8pFh.hasNotice-1XRy4h, .chat-3bRxxu, .platform-win .sidebar-2K8pFh, .sidebar-2K8pFh
{
    border-radius: 10px;
}

/* Voice chat fullscreen SPECIAL THANKS TO DOGGYBOOTSY FROM POWERCORD DISCORD FOR HELPING ME FIGURE OUT HOW TO CENTER SHIT, THANKS A LOT*/
.tile-2naSqK{
    border-radius:15px;
    background-color:var(--dark-primary);
}


.root-2VTZPJ .directionColumn-35P_nr{
    background-color:var(--dark-secondary);
    border-radius:15px;
    padding:20px;
}

.overlay-1YJlCn .overlayTitle-8IcS01{
    font-size:16px;
    font-weight:bold;
    border-radius:10px;
    background-color:var(--dark-bright);
}

.button-3HqqDX{
    background:var(--brand-experiment);
    border-radius:15px;
}

.button-3HqqDX:hover{
    background:var(--brand-experiment);
    box-shadow: rgba(44, 139, 255, .3) 0px 5px 15px;
}

.background-ujHpbY{
    background-color:var(--dark-primary) !important;
}

.tile-2naSqK:hover .background-ujHpbY{
    background-color:var(--dark-secondary-alt) !important;
    transition: background 250ms;
}


.avatarWrapper-29j3CC{
  position: relative;
  overflow: hidden;
  border-radius:255px;
  border: none;
}

.border-3dQmSY.speaking-WDn8Wm::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 80px;
  background: transparent;
  border:solid var(--brand-experiment);
  box-shadow: rgba(44, 139, 255, .6) 0px 5px 15px;
  border-radius:250px;
}

.tile-2naSqK:hover .border-3dQmSY{
    border-radius:15px;
    border:solid var(--roundmoled-background);
}

.border-3dQmSY.speaking-WDn8Wm{
    box-shadow:none;
}


/**
MISC CSS
*/

/* Loading glow effect */
.content-1-zrf2{ position: relative; overflow: hidden; border-radius: 8px; border: none; transform:scale(1); background:rgba(0, 0, 0, .85);    transition:250ms; }
.content-1-zrf2::before{    content:''; position: absolute; top: 38%;   left: 50%;  transform: translate(-50%, -50%);   width: 15%; height: 15%;    box-shadow: rgba(255, 255, 255, .49) 0px 19px 98px, rgba(84, 161, 192, .2) 0px 15px 62px;   }

/* Stream buttons in channel list*/
.button-1YfofB.buttonColor-7qQbGO:hover, .button-1YfofB .buttonColor-7qQbGO:hover{
    background-color:var(--brand-experiment);
}

/* Goosemod store tweak */
.gm-store-card{
    background-color:var(--dark-bright) !important;
    border-radius:15px !important;
}

.gm-store-card:hover{
    background-color:var(--dark-primary);
    border:solid var(--brand-experiment);
    transition:all 250ms;
}

.gm-store-card > :nth-child(1){
    border-radius: 15px 15px 0 0 !important;
}

.container-cMG81i{
    border-radius:10px !important;
    background-color:var(--dark-bright) !important;
}

/* goosemod spotify tweak */
.gm-spotify-controls-album-image img{
    transform:scale(0.8);
    border-radius:25px;
}

button.gm-spotify-controls-button{
    display:none;
}

.gm-spotify-controls-info-box{
    max-width: calc(100% - 4.7em);
}
.gm-spotify-controls-player:hover .gm-spotify-controls-info-box{
    max-width: calc(100% - 7.5em);
    transition:250ms
}

.gm-spotify-controls-player:hover button.gm-spotify-controls-button{
    display:inline;

}

.gm-spotify-controls-playback-bar{
        background-image: linear-gradient(rgba(30,215,96), rgba(30,215,96)), linear-gradient(var(--background-primary), var(--background-primary));
}


/* BetterDiscord cards change */

.bd-addon-list .bd-addon-card{
    border-radius: 15px;
    background-color: var(--dark-bright);
}

.bd-addon-list .bd-addon-card:hover{
    background-color:var(--dark-secondary);
    transition: 250ms;
}

.bd-addon-list .bd-addon-header{
    background-color:var(--dark-secondary);
}

.bd-search-wrapper{
    border-radius:7px;
    background-color:var(--roundmoled-background);
}

.bd-select .bd-select-options{
    border-radius:12px;
    background-color:var(--dark-bright);
}

/*  Spotify betterdiscord  */

.barText-lmqc5O{
    display:none;
}

.container-6sXIoE:hover .barText-lmqc5O{
    display:flex;
}

/* Avatar zoom on hover  Special thanks to Nao Tomori#1166 from PC discord*/
.avatar-37jOim:hover{
    transform:scale(1.6);
    border-radius:5px !important;
    background-color:var(--roundmoled-background) !important;
    border:solid;
    border-color:var(--roundmoled-background) !Important;
    border-width:0.04cm;
    margin-top:-25%;
    margin-left:30%;
    transition:250ms;
}

.avatarHintInner-1TvA8u{
    opacity:0;
}

.avatar-37jOim:hover .avatarHint-2A3RNb > foreignObject {
    mask: none !important;
}


.avatar-37jOim:hover .mask-1l8v16 > foreignObject {
    mask: none !important;
    border-radius:5px;
}

/* Locked channel badge */
[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"]{
    fill:#FAA81A;
}

/* Misc loading popout */
.loadingPopout-qYljDW
{
    border-radius:15px;
    background-color:var(--dark-bright);
}

/* hide role circle unless hover on role */
.roleCircle-3xAZ1j{
    width:0px;
    transition: 0.2s ease;
}

.role-2irmRk:hover > .roleCircle-3xAZ1j{
    width: 12px;
}
/* Better roles by Bowser65#1337*/

.role-2irmRk {
  position: relative;
  overflow: hidden;
  border-radius:8px;
  border: none;
  padding: 5px;
  color:#fff;
  font-size:12.7px;
}

.roleCircle-3xAZ1j::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: .38;

  pointer-events: none;
}

.footer-1fjuF6 {
  border-top: none;
}


/* Misc view role as server bar */

.notice-18685F{
    margin-top:10px;
    margin-right:10px;
    border-radius:15px;
}

/* user popout and emoji details on click borders*/
.userPopout-xaxa6l
{
    border: solid var(--popout-activeborders);
    border-radius: 15px;
}

/* Server boost modal */
.theme-dark .perksModal-fSYqOq
{
    background-color:var(--dark-primary);
}

.toolbar-1t6TWx a {
  display: none;
}

::selection {
    background-color:rgb(70, 124, 146) !important;
}

.wrapper-2aW0bm{
    background-color:var(--dark-secondary-alt);
    border: solid var(--popout-activeborders);
    border-radius:8px;
}

/* chat textarea bg */

.scrollableContainer-2NUZem
{
    border-radius:15px;
    background-color:var(--channeltextarea-background);
    border: solid var(--popout-activeborders);
}

.channelTextArea-rNsIhG{
    background-color:transparent;
}

.replyBar-1YLQ2F, .threadSuggestionBar-2ufK2Z, .attachedBars-tZDmyV
{
    /* background-color:var(--dark-primary);*/
    background-color: var(--dark-secondary-alt);
    border-radius:25px;
    margin-bottom:3px;
}

/**
DISORD VARS
*/

:root.theme-dark
{
    --background-tertiary: #1D1F25;
    --background-secondary: #1F1F1F; /* guild folder border background */
    --background-secondary-alt: var(--dark-primary);; /* change it and see for yourself */
    --background-primary: var(--dark-primary);; /* primary background color, full amoled black  */
    --channeltextarea-background: #1D1F25; /* color of your chat bar */
    --background-accent: var(--brand-experiment); /* discords accent color (default) */
    --background-message-hover: transparent;
    --background-modifier-hover: #36559138;
    --background-modifier-active: #36559138;
    --background-modifier-selected: #406abb38;
    --background-floating: var(--dark-primary);; /* userpopout background */
    --scrollbar-auto-thumb: var(--brand-experiment);
    --scrollbar-auto-track: #16181D;
}
