---
---

@import "{{ site.theme }}";

#content {
  background-color: #0E1116 !important;
}

#betterdiscord-stuff {
  color: #5080DE !important;
}

.page-header {
  background-image: linear-gradient(120deg, #ab21b7, #3e82e5);
}
