---
---

@import "{{ site.theme }}";

#content {
  background-color: #09111C !important;
  background-image: #09111C !important;
  background: #09111C !important;
}

body {
  background-color: #09111C !important;
  background-image: #09111C !important;
  background: #09111C !important;
}

#betterdiscord-stuff {
  color: #5080DE !important;
}

.page-header {
  background-image: linear-gradient(120deg, #ab21b7, #3e82e5) !important;
}

b, strong {
    color: #b0b0b0 !important;
}
