---
---

@import "{{ site.theme }}";

#content {
  background-color: #171A1E !important;
  background-image: #171A1E !important;
  background: #171A1E !important;
}

body {
  background-color: #171A1E !important;
  background-image: #171A1E !important;
  background: #171A1E !important;
}

#betterdiscord-stuff {
  color: #5080DE !important;
}

.page-header {
  background-image: linear-gradient(120deg, #ab21b7, #3e82e5) !important;
}
