#app-mount {
    .title-31SJ6t,
    .header-3OsQeK,
    .container-ZMc96U,
    .searchBar-3TnChZ {
        background-color: var(--color-header-bg);
        color: var(--color-header-text);
        height: 64px;
    }

    .header-3OsQeK {
        display: flex;
        align-items: center;
    }
}
