/* MacButtons */
.platform-win .titleBar_a934d8 {
    position: fixed;
    top: 1px;
}
.platform-win .winButton_a934d8 {
    z-index: 999999;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background: transparent;
    margin-right: 6px;
    top: 5px;
    left: 10px;
}
.platform-win .winButton_a934d8:nth-last-child(1) {
    background: #fdbc40;
    order: 2;
}
.platform-win .winButton_a934d8:nth-last-child(2) {
    background: #34c749;
    order: 1;
}
.platform-win .winButton_a934d8:nth-last-child(3) {
    background: #fc615d;
    order: 3;
}
.platform-win .winButton_a934d8:nth-last-child(3) *,
.platform-win .winButton_a934d8:nth-last-child(2) *,
.platform-win .winButton_a934d8:nth-last-child(1) * {
    display: none;
}
.platform-win html:not(.app-focused) .winButton_a934d8 {
    background-color: #313131 !important;
}
.platform-win .wordmark_a934d8 {
    position: fixed !important;
}
.platform-win .wordmarkWindows_a934d8.wordmark_a934d8 {
    -webkit-app-region: drag;
}

/* Source Code */

#app-mount .app-2rEoOp::before,
#app-mount .app_a01fb1::before {
    content: "Your version of OSX is outdated.";
    display: var(--version1_0_1, block);
    bottom: 90vh;
    right: 1vw;
    position: absolute;
    padding: 16px 16px;
    background: var(--background-notification);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 12px;
    z-index: 999999;
    cursor: pointer;
    font-weight: 400;
}

.baseLayer_d4b6c5::before {
    content: "Discord";
    background: linear-gradient(0deg, rgb(41 41 41) 0%, rgb(132 132 132) 1%, rgb(185 185 185) 51%, rgba(228, 230, 228, 1) 98%, rgba(226, 230, 243, 1) 100%);
    display: block;
    color: black;
    font-size: 14px;
    line-height: 32px;
    font-weight: regular;
    text-align: center;
    z-index: 999;
    height: 32px;
    -webkit-app-region: drag;
}

.layer_d4b6c5:not(.baseLayer_d4b6c5)::before {
    content: "Discord Preferences";
    background: linear-gradient(0deg, rgb(41 41 41) 0%, rgb(132 132 132) 1%, rgb(185 185 185) 51%, rgba(228, 230, 228, 1) 98%, rgba(226, 230, 243, 1) 100%);
    display: block;
    color: black;
    font-size: 14px;
    line-height: 32px;
    font-weight: regular;
    text-align: center;
    z-index: 9999;
    height: 32px;
    -webkit-app-region: drag;
    border-radius: 8px 8px 0 0;
}

#app-mount .layer_d4b6c5:not(.baseLayer_d4b6c5) {
    background-color: transparent !important;
    margin: 8rem 12.5rem;
    box-shadow: 5px 10px 20px #1d1d1d9f;
    border-radius: 0 0 8px 8px;
    transition: all 0.1s ease !important;
}

.layer_d4b6c5 {
    background-color: transparent !important;
    opacity: 1 !important;
}

.layer_d4b6c5.baseLayer_d4b6c5.stop-animations {
    margin: 0px !important;
    transform: none !important;
    pointer-events: none !important;
}

.layer_d4b6c5:not(.baseLayer_d4b6c5) {
    z-index: 999;
}

.layer_d4b6c5.baseLayer_d4b6c5 {
    transform: none !important;
}

.layer_d4b6c5:not(.baseLayer_d4b6c5).animating_d4b6c5 {
    transform: scale(1.001) !important;
    transition: all 0.1s ease-in-out !important;
}

.accountProfileCard_b69b77 {
    background: var(--background-secondary);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 7px;
}

.listItem-2Ig28I .button-Jt-tIg {
    text-transform: capitalize;
    width: 60px !important;
}

.backdrop-1wrmKB,
.backdrop__1a911 {
    height: 96%;
    top: 4%;
    position: relative;
}

.container-3auIfb[style="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
.container_cebd1c[style="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
    background-color: var(--brand-experiment) !important;
}

.slider-TkfMQL > svg,
.slider_cebd1c > svg {
    display: none;
}

.popoutContainer-1MXdqN,
.popoutContainer_cf58b5 {
    background-color: transparent;
}

.platform-osx .wrapper-3NnKdC,
.platform-win .scroller-1Bvpku,
.platform-osx .wrapper_fea3ef {
    margin-top: 5px !important;
}

::placeholder,
body,
button,
input,
select,
textarea {
    font-family: var(--font), arial;
}

.menu-3sdvDG,
.menu_d90b3d {
    position: relative;
    background: var(--background-floating);
    min-width: 240px;
}

.menu-3sdvDG::before,
.menu_d90b3d::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(var(--context-blur));
    border-radius: 7px;
    position: absolute;
    box-shadow: inset 0 0 0 1px var(--context-outline);
}

.userPopout-xaxa6l,
.userPopout-2j1gM4,
.emojiSection-3Fb9ix,
.emojiSection_e58351,
.guildSection-1EoFKd,
.guildSection_e58351,
.tooltip-2QfLtc,
.tooltip-14MtrL,
.container-2dqNWc,
.container__56cd1,
.wrapper-2aW0bm,
.wrapper_ef319f,
.full-motion .wrapper-2aW0bm:hover,
.full-motion .wrapper_ef319f:hover,
.toast-1DEQGy,
.toast-q3Y4wI,
.root-8LYsGj, /* keep-in */
.root_f9a4c9, /* keep-in */
.scrollableContainer-2NUZem,
.scrollableContainer_d0696b,
.betterMessageLinks.Popout {
    background-color: var(--background-floating) !important;
    backdrop-filter: blur(var(--context-blur));
    border-radius: 7px;
    box-shadow: inset 0 0 0 1px var(--context-outline) !important;
}

.body-1Ukv50,
.topSection-13QKHs,
.footer-31IekZ,
.scroller_f4e139 {
    background-color: transparent !important;
}

.quickswitcher_f4e139 {
    background-color: transparent !important;
    height: 100%;
}

.guildSection-1EoFKd,
.guildSection_e58351 {
    position: relative;
}

.full-motion .translate-2dAEQ6.didRender-33z1u8,
.full-motion .translate-PeW1wK.didRender-2SiRlm {
    transition: none;
    transform: none;
    -webkit-transition: none;
    -webkit-transform: none;
}

.channelTextArea-rNsIhG,
.channelTextArea_a7d72e {
    background-color: transparent;
}

.layer-2KE1M9 .popoutBannerPremium-1n96gg,
.layer-2KE1M9 .banner-2QYc2d {
    width: 598px;
    height: calc(inherit - 1px);
    position: relative;
    left: 1px;
    border-radius: 6px 6px 0px 0px;
    top: 1px;
}

.popoutBannerPremium-1n96gg,
.banner-2QYc2d,
.banner_c3e427,
.popoutBanner_c3e427 {
    width: 100%;
    position: relative;
    left: 1px;
    border-radius: 6px 6px 0px 0px;
    top: 1px;
}

.topSection-13QKHs .profileBannerPremium__6fb42 {
    width: 100%;
}

.peopleListItem-2nzedh,
.peopleListItem_d51464 {
    width: 40%;
    height: 150px !important;
    border: none;
    display: inline-grid;
    background: var(--background-secondary);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 7px;
    margin: 0 10px 0 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.peopleListItem-2nzedh:hover,
.peopleListItem_d51464:hover {
    width: 40%;
    height: 150px !important;
    border: none;
    display: inline-grid;
    background: var(--background-active);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 7px;
    margin: 0 10px 0 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    padding: 0;
}

.peopleListItem-2nzedh.active-rhSpJJ,
.peopleListItem_d51464.active_d51464 {
    width: 40%;
    height: 150px !important;
    border: none;
    display: inline-grid;
    background: var(--background-active);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 7px;
    margin: 0 10px 0 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    padding: 0;
}

.itemCard-v9viV7,
.itemCard_f02fcf {
    border: none;
    background: var(--background-secondary);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 7px;
    margin: 0 10px 0 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.itemCard-v9viV7:hover,
.itemCard_f02fcf:hover {
    background-color: var(--background-active) !important;
}

.discriminator-22Okc1,
.discriminator_f3939d {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: visible;
}

.listItemContents_e05dae:hover .discriminator_f3939d {
    opacity: 1;
}

.listItemContents-95HL3L,
.listItemContents-95HL3L:hover,
.listItemContents_ea0e6d,
.listItemContents_ea0e6d:hover {
    height: 100% !important;
    margin: 0 !important;
    padding: 0;
    width: 270px;
    position: relative;
    left: 10px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.listItemContents-95HL3L:hover,
.listItemContents_ea0e6d:hover {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.peopleListItem-2nzedh .userInfo-2zN2z8,
.peopleListItem_d51464 .userInfo_f3939d {
    position: relative;
    top: -40px;
}

.cooldownWrapper-3joyFc #text {
    font-weight: normal;
}

.peopleListItem-2nzedh .actions-1SQwjn,
.peopleListItem_d51464 .actions_e05dae {
    position: relative;
    top: 47.5px;
    left: -190px;
}

.theme-dark .menu-3sdvDG .labelContainer-1BLJti .label-22pbtT:not(.colorDanger-2qLCe1 .label-22pbtT),
.theme-dark .menu_d90b3d .labelContainer-2vJzYL .label-2gNW3x:not(.colorDanger-3n-KnP .label-2gNW3x) {
    font-weight: normal;
    padding: 0px;
    color: #f7ede6;
    font-size: 10pt;
}

.channelName-2YrOjO,
.name-23GUGE,
.channelName-3KPsGw,
.name_d8bfb3 {
    font-weight: normal;
}

.theme-light .menu-3sdvDG .labelContainer-1BLJti .label-22pbtT:not(.colorDanger-2qLCe1 .label-22pbtT),
.theme-light .menu_d90b3d .labelContainer-2vJzYL .label-2gNW3x:not(.colorDanger-3n-KnP .label-2gNW3x) {
    font-weight: normal;
    padding: 0px;
    font-size: 10pt;
}

.menu-3sdvDG .labelContainer-1BLJti,
.statusItem-33LqPf,
.menu_d90b3d .labelContainer-2vJzYL,
.statusItem_e0f739 {
    min-height: 18px;
    padding: 3px 7px;
    border-radius: 4px;
}

.layer-v9HyYc,
.layer-2aCOJ3 {
    border-radius: 7px;
}

.submenu-2-ysNh,
.submenu-1apzyU {
    left: -7px;
}

.menu-3sdvDG .separator-2I32lJ,
.menu_d90b3d .separator-1So4YB {
    border-bottom: 1.2px solid var(--divider);
}

.bodyInnerWrapper-26fQXj,
.bodyInnerWrapper-2bQs1k {
    background: transparent;
}

.button-F9qN4n,
.button_a24e84 {
    background: transparent;
}

.statusItem-33LqPf .description-2L932D,
.statusItem_e0f739 .description_e0f739 {
    display: none;
}

/* Mac Buttons */
.macButton_a934d8::before,
.winButton_a934d8 {
    content: "";
    background-color: #313131;
    display: block;
    z-index: 1;
    height: 12px;
    width: 12px;
    position: relative;
    top: 0px;
    border-radius: 50%;
    box-shadow: 0 0 0 0.6pt #383838;
}

.app-focused.platform-osx .macButtonMaximize-2FMHAO::before,
.app-focused.platform-osx .macButtonMaximize_a934d8::before,
.app-focused.platform-win .winButtonMinMax-PBQ2gm {
    content: "";
    background-color: #34c749;
    display: block;
    z-index: 1;
    height: 12px;
    width: 12px;
    position: relative;
    top: 0px;
    border-radius: 50%;
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
}

.app-focused.platform-osx .macButtonMaximize-2FMHAO > svg,
.app-focused.platform-osx .macButtonMaximize_a934d8 > svg {
    position: relative;
    top: -12px;
    z-index: 9999;
}

.app-focused.platform-osx .macButtonMinimize-3EJ6wo::before,
.app-focused.platform-osx .macButtonMinimize_a934d8::before,
.app-focused.platform-win .winButtonMinMax-PBQ2gm:last-child {
    content: "";
    background-color: #fdbc40;
    display: block;
    z-index: 1;
    height: 12px;
    width: 12px;
    position: relative;
    top: 0px;
    border-radius: 50%;
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
}

.app-focused.platform-osx .macButtonMinimize-3EJ6wo > svg,
.app-focused.platform-osx .macButtonMinimize_a934d8 > svg {
    position: relative;
    top: -12px;
    z-index: 9999;
}

.app-focused.platform-osx .macButtonClose-MwZ2nf::before,
.app-focused.platform-osx .macButtonClose_a934d8::before,
.app-focused.platform-win .winButtonClose-1HsbF- {
    content: "";
    background-color: #fc615d;
    display: block;
    z-index: 1;
    height: 12px;
    width: 12px;
    position: relative;
    top: 0px;
    border-radius: 50%;
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
}

.app-focused.platform-osx .macButtonClose-MwZ2nf > svg,
.app-focused.platform-osx .macButtonClose_a934d8 > svg {
    position: relative;
    top: -12px;
    z-index: 9999;
}

/* .platform-win .titleBar-AC4pGV.directionRowReverse-m8IjIq {
    z-index: 999999 !important;
} */

.wordmarkWindows_a934d8 {
    display: none;
}
