/* MacButtons */
.platform-win .titleBar-1it3bQ {
    position: fixed;
    top: 1px;
}
.platform-win .winButton-3UMjdg {
    z-index: 999999;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background: transparent;
    margin-right: 6px;
    top: 5px;
    left: 10px;
}
.platform-win .winButton-3UMjdg:nth-last-child(1) {
    background: #fdbc40;
    order: 2;
}
.platform-win .winButton-3UMjdg:nth-last-child(2) {
    background: #34c749;
    order: 1;
}
.platform-win .winButton-3UMjdg:nth-last-child(3) {
    background: #fc615d;
    order: 3;
}
.platform-win .winButton-3UMjdg:nth-last-child(3) *,
.platform-win .winButton-3UMjdg:nth-last-child(2) *,
.platform-win .winButton-3UMjdg:nth-last-child(1) * {
    display: none;
}
.platform-win html:not(.app-focused) .winButton-3UMjdg {
    background-color: #313131 !important;
}
.platform-win .wordmark-2u86JB {
    position: fixed !important;
}
.platform-win .wordmarkWindows-2dq6rw.wordmark-2u86JB {
    -webkit-app-region: drag;
}

/* Source Code */

#app-mount .app-2rEoOp::before,
#app-mount .app-2CXKsg::before {
    content: "Your version of OSX is outdated.";
    display: var(--version1_0_0, block);
    bottom: 90vh;
    right: 1vw;
    position: absolute;
    padding: 16px 16px;
    background: var(--background-notification);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 12px;
    z-index: 9999999;
    cursor: pointer;
    font-weight: 400;
}

.layer-3QrUeG::before,
.layer-86YKbF::before {
    content: "Discord";
    background: linear-gradient(0deg, rgb(41 41 41) 0%, rgb(132 132 132) 1%, rgb(185 185 185) 51%, rgba(228, 230, 228, 1) 98%, rgba(226, 230, 243, 1) 100%);
    display: block;
    color: black;
    font-size: 14px;
    line-height: 32px;
    font-weight: regular;
    text-align: center;
    z-index: 999;
    height: 32px;
    -webkit-app-region: drag;
}

.layer-3QrUeG:not(.baseLayer-35bLyl)::before,
.layer-86YKbF:not(.baseLayer-W6S8cY)::before {
    content: "Discord Preferences";
    background: linear-gradient(0deg, rgb(41 41 41) 0%, rgb(132 132 132) 1%, rgb(185 185 185) 51%, rgba(228, 230, 228, 1) 98%, rgba(226, 230, 243, 1) 100%);
    display: block;
    color: black;
    font-size: 14px;
    line-height: 32px;
    font-weight: regular;
    text-align: center;
    z-index: 99999;
    height: 32px;
    -webkit-app-region: drag;
    border-radius: 8px 8px 0 0;
}

#app-mount .layer-3QrUeG:not(.baseLayer-35bLyl),
#app-mount .layer-86YKbF:not(.baseLayer-W6S8cY) {
    background-color: transparent !important;
    margin: 8rem 12.5rem;
    box-shadow: 5px 10px 20px #1d1d1d9f;
    border-radius: 0 0 8px 8px;
    transition: all 0.1s ease !important;
}

.layer-3QrUeG,
.layer-86YKbF {
    background-color: transparent !important;
    opacity: 1 !important;
}

.layer-3QrUeG.baseLayer-35bLyl.stop-animations,
.layer-86YKbF.baseLayer-W6S8cY.stop-animations {
    margin: 0px !important;
    transform: none !important;
    pointer-events: none !important;
}

.layer-3QrUeG:not(.baseLayer-35bLyl),
.layer-86YKbF:not(.baseLayer-W6S8cY) {
    z-index: 9999;
}

.layer-3QrUeG.baseLayer-35bLyl,
.layer-86YKbF.baseLayer-W6S8cY {
    transform: none !important;
}

.layer-3QrUeG:not(.baseLayer-35bLyl).animating-rRxada,
.layer-86YKbF:not(.baseLayer-W6S8cY).animating-1rIrGV {
    transform: scale(1.001) !important;
    transition: all 0.1s ease-in-out !important;
}

.accountProfileCard-1XCH88,
.accountProfileCard-lbN7n- {
    background: var(--background-secondary);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 7px;
}

.listItem-2Ig28I .button-Jt-tIg {
    text-transform: capitalize;
    width: 60px !important;
}

.backdrop-1wrmKB,
.backdrop-2ByYRN {
    height: 96%;
    top: 4%;
    position: relative;
}

.container-3auIfb[style="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
.container-2nx-BQ[style="opacity: 1; background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"] {
    background-color: var(--brand-experiment) !important;
}

.slider-TkfMQL > svg,
.slider-32CRPX > svg {
    display: none;
}

.popoutContainer-1MXdqN,
.popoutContainer-2wbmiM {
    background-color: transparent;
}

.platform-osx .wrapper-3NnKdC,
.platform-win .scroller-1Bvpku,
.platform-osx .wrapper-1_HaEi {
    margin-top: 5px !important;
}

.bd-switch input:checked + .bd-switch-body {
    --switch-color: var(--brand-experiment);
    --symbol1path: none;
    --symbol2path: none;
}

.bd-switch-body {
    --symbol1path: none;
    --symbol2path: none;
}

::placeholder,
body,
button,
input,
select,
textarea {
    font-family: var(--font), arial;
}

.menu-3sdvDG,
.menu-1QACrS {
    background: var(--background-floating);
    min-width: 240px;
}

.menu-3sdvDG::before,
.menu-1QACrS::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(var(--context-blur));
    border-radius: 7px;
    position: absolute;
    box-shadow: inset 0 0 0 1px var(--context-outline);
}

.userPopout-xaxa6l,
.userPopout-2j1gM4,
.emojiSection-3Fb9ix,
.emojiSection-3QtaWO,
.guildSection-1EoFKd,
.guildSection-2Zyzy8,
.tooltip-2QfLtc,
.tooltip-14MtrL,
.container-2dqNWc,
.container-8Futzw,
.wrapper-2aW0bm,
.wrapper-2vIMkT,
.full-motion .wrapper-2aW0bm:hover,
.full-motion .wrapper-2vIMkT:hover,
.toast-1DEQGy,
.toast-q3Y4wI,
.root-8LYsGj, /* keep-in */
.root-g14mjS, /* keep-in */
.scrollableContainer-2NUZem,
.scrollableContainer-15eg7h,
.betterMessageLinks.Popout {
    background-color: var(--background-floating) !important;
    backdrop-filter: blur(var(--context-blur));
    border-radius: 7px;
    box-shadow: inset 0 0 0 1px var(--context-outline) !important;
}

.body-1Ukv50, .topSection-13QKHs, .footer-31IekZ, 
.scroller-2qwVWY {
    background-color: transparent !important;
}

.quickswitcher-pKcM9U {
    background-color: transparent !important;
    height: 100%;
}

.guildSection-1EoFKd,
.guildSection-2Zyzy8 {
    position: relative;
}

.full-motion .translate-2dAEQ6.didRender-33z1u8,
.full-motion .translate-PeW1wK.didRender-2SiRlm {
    transition: none;
    transform: none;
    -webkit-transition: none;
    -webkit-transform: none;
}

.channelTextArea-rNsIhG,
.channelTextArea-1FufC0 {
    background-color: transparent;
}

.layer-2KE1M9 .popoutBannerPremium-1n96gg,
.layer-2KE1M9 .banner-2QYc2d {
    width: 598px;
    height: calc(inherit - 1px);
    position: relative;
    left: 1px;
    border-radius: 6px 6px 0px 0px;
    top: 1px;
}

.popoutBannerPremium-1n96gg,
.banner-2QYc2d,
.banner-1YaD3N,
.popoutBanner-3cqRD9 {
    width: 100%;
    position: relative;
    left: 1px;
    border-radius: 6px 6px 0px 0px;
    top: 1px;
}

.topSection-13QKHs .profileBannerPremium-KD60EB {
    width: 100%;
}

.peopleListItem-2nzedh,
.peopleListItem-u6dGxF {
    width: 40%;
    height: 150px !important;
    border: none;
    display: inline-grid;
    background: var(--background-secondary);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 7px;
    margin: 0 10px 0 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.peopleListItem-2nzedh:hover,
.peopleListItem-u6dGxF:hover {
    width: 40%;
    height: 150px !important;
    border: none;
    display: inline-grid;
    background: var(--background-active);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 7px;
    margin: 0 10px 0 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    padding: 0;
}

.peopleListItem-2nzedh.active-rhSpJJ,
.peopleListItem-u6dGxF.active-2UF8Zh {
    width: 40%;
    height: 150px !important;
    border: none;
    display: inline-grid;
    background: var(--background-active);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 7px;
    margin: 0 10px 0 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    padding: 0;
}

.itemCard-v9viV7,
.itemCard-3Etziu {
    border: none;
    background: var(--background-secondary);
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
    border-radius: 7px;
    margin: 0 10px 0 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.itemCard-v9viV7:hover,
.itemCard-3Etziu:hover {
    background-color: var(--background-active) !important;
}

.discriminator-22Okc1,
.discriminator-WV5K5s {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: visible;
}

.hovered-15FzL3 .discriminator-22Okc1,
.hovered-1EO01j .discriminator-WV5K5s {
    opacity: 1;
}

.listItemContents-95HL3L,
.listItemContents-95HL3L:hover,
.listItemContents-2n2Uy9,
.listItemContents-2n2Uy9:hover {
    height: 100% !important;
    margin: 0 !important;
    padding: 0;
    width: 270px;
    position: relative;
    left: 10px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.listItemContents-95HL3L:hover,
.listItemContents-2n2Uy9:hover {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.peopleListItem-2nzedh .userInfo-2zN2z8,
.peopleListItem-u6dGxF .userInfo-2WpsYG {
    position: relative;
    top: -40px;
}

.cooldownWrapper-3joyFc #text {
    font-weight: normal;
}

.peopleListItem-2nzedh .actions-1SQwjn,
.peopleListItem-u6dGxF .actions-YHvpIT {
    position: relative;
    top: 47.5px;
    left: -190px;
}

.theme-dark .menu-3sdvDG .labelContainer-1BLJti .label-22pbtT:not(.colorDanger-2qLCe1 .label-22pbtT),
.theme-dark .menu-1QACrS .labelContainer-2vJzYL .label-2gNW3x:not(.colorDanger-3n-KnP .label-2gNW3x) {
    font-weight: normal;
    padding: 0px;
    color: #f7ede6;
    font-size: 10pt;
}

.channelName-2YrOjO,
.name-23GUGE,
.channelName-3KPsGw,
.name-28HaxV {
    font-weight: normal;
}

.theme-light .menu-3sdvDG .labelContainer-1BLJti .label-22pbtT:not(.colorDanger-2qLCe1 .label-22pbtT),
.theme-light .menu-1QACrS .labelContainer-2vJzYL .label-2gNW3x:not(.colorDanger-3n-KnP .label-2gNW3x) {
    font-weight: normal;
    padding: 0px;
    font-size: 10pt;
}

.menu-3sdvDG .labelContainer-1BLJti,
.statusItem-33LqPf,
.menu-1QACrS .labelContainer-2vJzYL,
.statusItem-2hiCNB {
    min-height: 18px;
    padding: 3px 7px;
    border-radius: 4px;
}

.layer-v9HyYc,
.layer-2aCOJ3 {
    border-radius: 7px;
}

.submenu-2-ysNh,
.submenu-1apzyU {
    left: -7px;
}

.menu-3sdvDG .separator-2I32lJ,
.menu-1QACrS .separator-1So4YB {
    border-bottom: 1.2px solid var(--divider);
}

.bodyInnerWrapper-26fQXj,
.bodyInnerWrapper-2bQs1k {
    background: transparent;
}

.button-F9qN4n,
.button-1zW0-r {
    background: transparent;
}

.statusItem-33LqPf .description-2L932D,
.statusItem-2hiCNB .description-3Cwkxk {
    display: none;
}

/* Mac Buttons */
.macButton-2M5W_9::before,
.winButton-3UMjdg {
    content: "";
    background-color: #313131;
    display: block;
    z-index: 1;
    height: 12px;
    width: 12px;
    position: relative;
    top: 0px;
    border-radius: 50%;
    box-shadow: 0 0 0 0.6pt #383838;
}

.app-focused.platform-osx .macButtonMaximize-2FMHAO::before,
.app-focused.platform-osx .macButtonMaximize-1vTCwt::before,
.app-focused.platform-win .winButtonMinMax-PBQ2gm {
    content: "";
    background-color: #34c749;
    display: block;
    z-index: 1;
    height: 12px;
    width: 12px;
    position: relative;
    top: 0px;
    border-radius: 50%;
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
}

.app-focused.platform-osx .macButtonMaximize-2FMHAO > svg,
.app-focused.platform-osx .macButtonMaximize-1vTCwt > svg {
    position: relative;
    top: -12px;
    z-index: 9999;
}

.app-focused.platform-osx .macButtonMinimize-3EJ6wo::before,
.app-focused.platform-osx .macButtonMinimize-Q8clSI::before,
.app-focused.platform-win .winButtonMinMax-PBQ2gm:last-child {
    content: "";
    background-color: #fdbc40;
    display: block;
    z-index: 1;
    height: 12px;
    width: 12px;
    position: relative;
    top: 0px;
    border-radius: 50%;
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
}

.app-focused.platform-osx .macButtonMinimize-3EJ6wo > svg,
.app-focused.platform-osx .macButtonMinimize-Q8clSI > svg {
    position: relative;
    top: -12px;
    z-index: 9999;
}

.app-focused.platform-osx .macButtonClose-MwZ2nf::before,
.app-focused.platform-osx .macButtonClose-3IXwAm::before,
.app-focused.platform-win .winButtonClose-1HsbF- {
    content: "";
    background-color: #fc615d;
    display: block;
    z-index: 1;
    height: 12px;
    width: 12px;
    position: relative;
    top: 0px;
    border-radius: 50%;
    box-shadow: 0 0 0 0.6pt var(--macbuttons-outline-color);
}

.app-focused.platform-osx .macButtonClose-MwZ2nf > svg,
.app-focused.platform-osx .macButtonClose-3IXwAm > svg {
    position: relative;
    top: -12px;
    z-index: 9999;
}

/* .platform-win .titleBar-AC4pGV.directionRowReverse-m8IjIq {
    z-index: 999999 !important;
} */

.wordmarkWindows-2dq6rw {
    display: none;
}
