/**
 * @name OSX
 * @version 0.3.0
 * @author TheCommieAxolotl#6898
 * @authorId 538487970408300544
 * @description Bring the best and most memorable parts of MacOS and OSX into 1 theme
 * @source https://github.com/TheCommieAxolotl/BetterDiscord-Stuff/tree/main/OSX/
 * @website https://thecommieaxolotl.github.io/BetterDiscord-Stuff/
 * @invite g2KnUw7u7N
*/

/* Snippets */
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/UserBadges.css");
@import url("http://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://xhylo.github.io/Mac-buttons/Macbuttonssc.css");

/* Source */
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/OSX/OSX.css");

:root {
    --font: "SF Pro Display";
    --macbuttons-outline-color: #5f5f5f;
    --context-blur: 20px;
    --version1_0_0: none;
}

.theme-dark {
    --brand-experiment: #346eca;
    --brand-experiment-560: var(--brand-experiment);
    --background-floating: #26262bb4;
    --divider: #f7ede621;
    --context-outline: #fff3;
    --info-warning-foreground: #346eca;
    --background-mentioned: #346dca52;
    --background-mentioned-hover: #346dca2c;
    --background-active: #26282b;
}

.theme-light {
    --brand-experiment: #5790f4;
    --brand-experiment-560: var(--brand-experiment);
    --background-floating: #ececedc0;
    --divider: #d3d3d3;
    --context-outline: #bfbfc1;
    --info-warning-foreground: #5790f4;
    --background-mentioned: #5791f448;
    --background-mentioned-hover: #5791f428;
    --background-active: #c4c4c4;
}

/* Made By The Commie Axolotl */
