/**
 * @name WinCord
 * @version 1.0.0
 * @author TheCommieAxolotl#0001
 * @authorId 538487970408300544
 * @description A clean, modern feel
 * @source https://github.com/TheCommieAxolotl/BetterDiscord-Stuff/tree/main/WinCord
 * @website https://thecommieaxolotl.github.io/BetterDiscord-Stuff/
 * @invite g2KnUw7u7N
*/

/* Thanks to lifegrain#3569 and Gibbu for making some snippets in this theme */

/* Snippets */ 
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/UserBadges.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

/* Source */
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/WinCord/WinCord.css");

:root {
    --channel-info-spacing: 578px; /* MUST CHANGE FOR YOUR DISPLAY SIZE */
    --please-dont-change-these: "like Really Please Leave Them";
    --version1_0: none;
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #818cc0;
    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary:  #2F3136;
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #20222557;
    --background-accent: #4f545c;
    --background-floating: #3d3d3d5b;
    --brand-experiment: #6771A1;
    --brand-experiment-560: #6771A1;
    --background-blur: 10px;
    --background-transparent:  #64646421;
    --background-toolbar: #272729;
    --background-mentioned: #373B46;
    --background-mentioned-hover: #484e5f;
    --info-warning-background: #818cc067;
    --info-warning-foreground: #818cc0;
    --menu-blur:   10px;
    --transparent: transparent;
}

/* Made By The Commie Axolotl */
