
.wrapper-35wsBm {
    height: 150px !important;
    width: 475px !important;
    background: var(--background-tertiary);
    border-radius: 5px;
}

.count-30T-5k:last-child,
.statusOffline-37RKt7 {
    position: relative;
}

.guildIconImage-3qTk45 {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.guildInfo-1STtYi {
    position: relative;
    top: 15px;
}

.guildName-2hvnt_ {
    font-size: 20pt;
    font-weight: 400pt;
    position: relative;
    top: 0px;
    height: 35px !important;
}

.wrapper-35wsBm .height20-mO2eIN {
    position: relative;
    bottom: -26px !important;
}
