/**
 * @name Ultra
 * @version 1.0.7
 * @author TheCommieAxolotl#0001
 * @authorId 538487970408300544
 * @description A Smooth, Black theme
 * @source https://github.com/TheCommieAxolotl/BetterDiscord-Stuff/tree/main/Ultra
 * @website https://thecommieaxolotl.netlify.app/
 * @donate https://github.com/sponsors/thecommieaxolotl
 * @invite g2KnUw7u7N
*/

/* Imports */
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/Touchup.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/UserBadges.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source Code Pro:wght@550&display=swap");

/* Source */
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Ultra/Clients/betterdiscord.css");

:root,
.theme-dark {
    --text-normal: #FFFFFF;
    --text-muted: #4a4a52;
    --text-link: #C49AF0;
    --text-positive: #50dc7d;
    --text-warning: #8d4949;
    --text-danger: #8d4949;
    --text-brand: #6e6af6;
    --interactive-normal: #FFFFFF;
    --interactive-hover: #dcddde;
    --interactive-active: #c9ced0;
    --interactive-muted: #4f545c;
    --background-primary: #101014;
    --background-secondary: #E2CDF8;
    --background-secondary-alt: #E7D7F9;
    --background-tertiary: #101014;
    --background-accent: #F3EBFC;
    --background-floating: #E7D7F9;
    --modal-background: #101014;
    --channeltextarea-background: #E7D7F9;
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-warning-foreground: #6e6af6;
    --info-danger-text: #fff;
    --info-help-text: #fff;
    --status-warning-text: #000;
    --background-mentioned: #DFC7F7;
    --background-mentioned-hover: #BA92E4;
    --background-message-hover: #E4D2F8;
    --scrollbar-auto-thumb: #C49AF0;
    --brand-experiment: #C49AF0;
    --brand-experiment-hover: #6f6af64d;
    --brand-experiment-560: #6e6af6;
    --channels-default: #DFC7F7;
    --selected-indicator: #C49AF0;
    --hover-indicator: #ffffff;
    --font: "Raleway";
    --code-font: "Source Code Pro";
    --boost-bar: none;
}

/* Made By The Commie Axolotl */
