/**
 * @name Ultra
 * @version 1.0.0
 * @author TheCommieAxolotl#6898
 * @authorId 538487970408300544
 * @description A Smooth, Black theme
 * @source https://github.com/TheCommieAxolotl/BetterDiscord-Stuff/blob/main/Ultra/
 * @website https://thecommieaxolotl.github.io/BetterDiscord-Stuff/
 * @invite g2KnUw7u7N
*/

/* Imports */ 
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/UserBadges.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/InviteRedesign.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source Code Pro:wght@550&display=swap");

/* Source */
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Ultra/Ultra.css");

:root {
    --version1_0: none;
    --text-normal: #dcddde;
    --text-muted: #4A4A52;
    --text-link: #6E6AF6;
    --text-positive: #50dc7d;
    --text-warning: #8D4949;
    --text-danger: #8D4949;
    --text-brand: #6E6AF6;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #C9CED0;
    --interactive-muted: #4f545c;
    --background-primary: #101014;
    --background-secondary: #17161B;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #101014;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --channeltextarea-background: #17161B;
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-warning-foreground: #6E6AF6;
    --info-danger-text: #fff;
    --info-help-text: #fff;
    --status-warning-text: #000;
    --background-mentioned: #6f6af62c;
    --background-mentioned-hover: #6f6af615;
    --background-message-hover: rgba(4,4,5,0.07);
    --scrollbar-auto-thumb: #6E6AF6;
    --brand-experiment: #6E6AF6;
    --brand-experiment-560: #6E6AF6;
    --channels-default: #4A4A52;
    --selected-indicator: #97ffa5;
    --hover-indicator: #ffffff;
    --font: 'Lato';
    --code-font: 'Source Code Pro';
    --boost-bar: none;
}

/* Made By The Commie Axolotl */
